{"openapi":"3.1.0","info":{"title":"Bulk Data Service","description":"Bulk Data Service Information","version":"1.1.3"},"servers":[{"url":"https://api.tracss.gov","description":"Generated server url"}],"paths":{"/bulkdata/tip/stream":{"get":{"tags":["tip-fetch-controller"],"summary":"Find all TIP Reports","description":"Find all TIP reports in the system or all reports that meet your search criteria defined by the query parameters.","operationId":"findAllTipReports","parameters":[{"name":"Authorization","in":"header","description":"Authorization header including a Bearer Token to successfully gain access to the endpoint.","required":true,"schema":{"type":"string"},"example":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJpZF..."},{"name":"noradId","in":"query","description":"The noradId of an object. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), In (=Value1,Value2,etc), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"noradId=12345"},"Not Equal operator example":{"description":"Not Equal operator example","value":"noradId=<>12345"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"noradId=>=12345"},"Greater Than operator example":{"description":"Greater Than operator example","value":"noradId=>12345"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"noradId=<=12345"},"Less Than operator example":{"description":"Less Than operator example","value":"noradId=<12345"},"In operator example":{"description":"In operator example","value":"noradId=12345,12346,12347"},"Between operator example":{"description":"Between operator example","value":"noradId=12345...54321"}}},{"name":"id","in":"query","description":"The numeric id of the TIP report. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), In (=Value1,Value2,etc), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"id=87"},"Not Equal operator example":{"description":"Not Equal operator example","value":"id=<>87"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"id=>=87"},"Greater Than operator example":{"description":"Greater Than operator example","value":"id=>87"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"id=<=87"},"Less Than operator example":{"description":"Less Than operator example","value":"id=<87"},"In operator example":{"description":"In operator example","value":"id=87,88,89"},"Between operator example":{"description":"Between operator example","value":"id=87...100"}}},{"name":"msgEpoch","in":"query","description":"Timestamp of when of the TIP report was produced. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"msgEpoch=2004-09-28T02:49:00.000Z"},"Not Equal operator example":{"description":"Not Equal operator example","value":"msgEpoch=<>2004-09-28T02:49:00.000Z"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"msgEpoch=>=2004-09-28"},"Greater Than operator example":{"description":"Greater Than operator example","value":"msgEpoch=>2004-09-28"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"msgEpoch=<=2004-09-28"},"Less Than operator example":{"description":"Less Than operator example","value":"msgEpoch=<2004-09-28"},"Between operator example":{"description":"Between operator example","value":"msgEpoch=2004-09-28...2004-09-31"}}},{"name":"insertEpoch","in":"query","description":"Timestamp of when the record was inserted in the system. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"insertEpoch=2004-09-28T02:49:00.000Z"},"Not Equal operator example":{"description":"Not Equal operator example","value":"insertEpoch=<>2004-09-28T02:49:00.000Z"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"insertEpoch=>=2004-09-28"},"Greater Than operator example":{"description":"Greater Than operator example","value":"insertEpoch=>2004-09-28"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"insertEpoch=<=2004-09-28"},"Less Than operator example":{"description":"Less Than operator example","value":"insertEpoch=<2004-09-28"},"Between operator example":{"description":"Between operator example","value":"insertEpoch=2004-09-28...2004-09-31"}}},{"name":"decayEpoch","in":"query","description":"Timestamp of the predicted time of atmospheric re-entry. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"decayEpoch=2004-09-28T02:49:00.000Z"},"Not Equal operator example":{"description":"Not Equal operator example","value":"decayEpoch=<>2004-09-28T02:49:00.000Z"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"decayEpoch=>=2004-09-28"},"Greater Than operator example":{"description":"Greater Than operator example","value":"decayEpoch=>2004-09-28"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"decayEpoch=<=2004-09-28"},"Less Than operator example":{"description":"Less Than operator example","value":"decayEpoch=<2004-09-28"},"Between operator example":{"description":"Between operator example","value":"decayEpoch=2004-09-28...2004-09-31"}}},{"name":"window","in":"query","description":"The uncertainty window around the re-entry time in seconds. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), In (=Value1,Value2,etc), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"window=900"},"Not Equal operator example":{"description":"Not Equal operator example","value":"window=<>900"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"window=>=900"},"Greater Than operator example":{"description":"Greater Than operator example","value":"window=>900"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"window=<=900"},"Less Than operator example":{"description":"Less Than operator example","value":"window=<900"},"In operator example":{"description":"In operator example","value":"window=900,1000,1100"},"Between operator example":{"description":"Between operator example","value":"window=900...1000"}}},{"name":"rev","in":"query","description":"The orbit revolution number at the time of prediction. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), In (=Value1,Value2,etc), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"rev=25952"},"Not Equal operator example":{"description":"Not Equal operator example","value":"rev=<>25952"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"rev=>=25952"},"Greater Than operator example":{"description":"Greater Than operator example","value":"rev=>25952"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"rev=<=25952"},"Less Than operator example":{"description":"Less Than operator example","value":"rev=<25952"},"In operator example":{"description":"In operator example","value":"rev=25952,25953"},"Between operator example":{"description":"Between operator example","value":"rev=25952...26952"}}},{"name":"direction","in":"query","description":"The direction of orbital trajectory during re-entry prediction. Valid operators are: Equal (=Value), Not Equal (=<>Value), Like (=\\*Value), Not Like (=~*Value). Possible values: ascending and descending.","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"direction=descending"},"Not Equal operator example":{"description":"Not Equal operator example","value":"direction=<>descending"},"Like operator example":{"description":"Like operator example","value":"direction=\\*ascending"},"Not Like operator example":{"description":"Not Like operator example","value":"direction=~\\*ascending"}}},{"name":"latitude","in":"query","description":"The latitude of predicted re-entry location. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), In (=Value1,Value2,etc), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"latitude=36.0"},"Not Equal operator example":{"description":"Not Equal operator example","value":"latitude=<>36.0"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"latitude=>=36.0"},"Greater Than operator example":{"description":"Greater Than operator example","value":"latitude=>36.0"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"latitude=<=36.0"},"Less Than operator example":{"description":"Less Than operator example","value":"latitude=<36.0"},"In operator example":{"description":"In operator example","value":"latitude=36.0,38.0"},"Between operator example":{"description":"Between operator example","value":"latitude=36.0...38.0"}}},{"name":"longitude","in":"query","description":"Longitude of predicted re-entry location. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), In (=Value1,Value2,etc), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"longitude=217.5"},"Not Equal operator example":{"description":"Not Equal operator example","value":"longitude=<>217.5"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"longitude=>=217.5"},"Greater Than operator example":{"description":"Greater Than operator example","value":"longitude=>217.5"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"longitude=<=217.5"},"Less Than operator example":{"description":"Less Than operator example","value":"longitude=<217.5"},"In operator example":{"description":"In operator example","value":"longitude=217.5,218.5"},"Between operator example":{"description":"Between operator example","value":"longitude=0...180"}}},{"name":"inclination","in":"query","description":"Inclination of the orbit at time of prediction. Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), In (=Value1,Value2,etc), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"inclination=53.0"},"Not Equal operator example":{"description":"Not Equal operator example","value":"inclination=<>53.0"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"inclination=>=53.0"},"Greater Than operator example":{"description":"Greater Than operator example","value":"inclination=>53.0"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"inclination=<=53.0"},"Less Than operator example":{"description":"Less Than operator example","value":"inclination=<53.0"},"In operator example":{"description":"In operator example","value":"inclination=53.0,55.0"},"Between operator example":{"description":"Between operator example","value":"inclination=0...53.0"}}},{"name":"nextReport","in":"query","description":"Estimated time in hours until next update (Integer). Valid operators are: Equal (=Value), Not Equal (=<>Value), Greater Than or Equal (=>=Value), Greater Than (=>Value), Less Than or Equal (=<=Value), Less Than (=<Value), In (=Value1,Value2,etc), Between (=Value1...Value2)","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"decayEpoch=48"},"Not Equal operator example":{"description":"Not Equal operator example","value":"decayEpoch=<>48"},"Greater Than or Equal operator example":{"description":"Greater Than or Equal operator example","value":"decayEpoch=>=48"},"Greater Than operator example":{"description":"Greater Than operator example","value":"decayEpoch=>48"},"Less Than or Equal operator example":{"description":"Less Than or Equal operator example","value":"decayEpoch=<=48"},"Less Than operator example":{"description":"Less Than operator example","value":"decayEpoch=<48"},"In operator example":{"description":"In operator example","value":"decayEpoch=47,48"},"Between operator example":{"description":"Between operator example","value":"decayEpoch=10...48"}}},{"name":"highInterest","in":"query","description":"Flag indicating if object is considered high interest for re-entry tracking. Valid operators are: Equal (=Value), Not Equal (=<>Value), Like (=\\*Value), Not Like (=~*Value). Possible values: Y, N","required":false,"schema":{"type":"string"},"examples":{"Equal operator example":{"description":"Equal operator example","value":"highInterest=Y"},"Not Equal operator example":{"description":"Not Equal operator example","value":"highInterest=<>Y"},"Like operator example":{"description":"Like operator example","value":"highInterest=\\*N"},"Not Like operator example":{"description":"Not Like operator example","value":"highInterest=~\\*N"}}},{"name":"format","in":"query","description":"Format of the request body. KVN, JSON, and XML are all valid formats. JSON is default.","required":false,"schema":{"type":"string","default":"JSON"},"example":"json"},{"name":"size","in":"query","description":"Number of TIP Reports to return.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":20},{"name":"page","in":"query","description":"Page number for the queried TIP(s), indexed by 0 (first page). Default is 0","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":1}],"responses":{"200":{"description":"Ok - TIP(s) successfully retrieved.  Available formats are KVN (Text, Default), JSON, and XML.","content":{"text/plain":{"schema":{"type":"string","example":"[NORAD_CAT_ID             = 12345\nMSG_EPOCH                = 2004-09-28T02:49:00.000Z\nINSERT_EPOCH             = 2004-09-28T02:49:00.000Z\nDECAY_EPOCH              = 2004-09-28T02:49:00.000Z\nWINDOW                   = 300\nREV                      = 64\nDIRECTION                = descending\nLAT                      = 6.5\nLON                      = 32.5\nINCL                     = 6.6\nNEXT_REPORT              = 2\nID                       = 98\nHIGH_INTEREST            = N\n]"}},"application/json":{"schema":{"oneOf":[{},{}]},"examples":{"json":{"summary":"Standard JSON format","description":"json","value":{"NORAD_CAT_ID":"12345","MSG_EPOCH":"2004-09-28T02:49:00.000Z","INSERT_EPOCH":"2004-09-28T02:49:00.000Z","DECAY_EPOCH":"2004-09-28T02:49:00.000Z","WINDOW":"300","REV":"64","DIRECTION":"descending","LAT":"6.5","LON":"32.5","INCL":"6.6","NEXT_REPORT":"2","ID":"98","HIGH_INTEREST":"N"}}}},"application/xml":{"schema":{"type":"string","format":"xml"},"examples":{"XML TIP Report":{"description":"XML TIP Report","value":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<tipReport>\n    <highInterest>N</highInterest>\n    <rev>64</rev>\n    <noradId>12345</noradId>\n    <lon>32.5</lon>\n    <decayEpoch>2004-09-28T02:49:00.000Z</decayEpoch>\n    <msgEpoch>2004-09-28T02:49:00.000Z</msgEpoch>\n    <nextReport>2</nextReport>\n    <insertEpoch>2004-09-28T02:49:00.000Z</insertEpoch>\n    <window>300</window>\n    <id>98</id>\n    <lat>6.5</lat>\n    <direction>descending</direction>\n    <incl>6.6</incl>\n</tipReport>\n"}}}}},"204":{"description":"Ok - TIP(s) No Content.","content":{"application/json":{}}},"400":{"description":"Bad Request - Invalid query parameter was passed in.","content":{"application/json":{}}},"401":{"description":"Unauthorized - There was a problem with the authorization token passed to the API call.","content":{"application/json":{}}},"500":{"description":"Internal Server Error - An error occurred executing the query.","content":{"text/plain":{}}}},"security":[{"Authorization":[]}]}},"/bulkdata/ocm/v2/stream":{"get":{"tags":["ocm-fetch-controller"],"summary":"Retrieve OCMs from cloud storage.","description":"Retrieve one or more TraCSS V2 OCMs from TRACSS cloud storage.","operationId":"findV2OcmStream","parameters":[{"name":"Authorization","in":"header","description":"Authorization token to retrieve the TraCSS CDM.","required":true,"schema":{"type":"string"},"example":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJpZF..."},{"name":"constellation","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdBy","in":"query","description":"Filename of the file that created the OCM.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2) , Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"some_ephem.ocm"},{"name":"creationDate","in":"query","description":"Creation Date of the OCM. A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value) and Between (Value1...Value2) (smaller value first)","required":false,"schema":{"type":"string"},"example":"2024-09-04T18:37:01Z"},{"name":"messageId","in":"query","description":"Message Id of the OCM. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2) , Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"000043928_conj_000054603_2024329195621"},{"name":"objectDesignator","in":"query","description":"The designator for OCM object.A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2), Between (Value1...Value2) (smaller value first), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":12345},{"name":"operator","in":"query","description":"Name of operator.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2) , Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"some_user"},{"name":"owner","in":"query","description":"Name of the object owner.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2) , Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"some_user"},{"name":"startTime","in":"query","required":false,"schema":{"type":"string"}},{"name":"stopTime","in":"query","required":false,"schema":{"type":"string"}},{"name":"trajBasis","in":"query","required":false,"schema":{"type":"string"}},{"name":"maxCreationDate","in":"query","description":"Retrieve only the latest OCM per object designator.","required":false,"schema":{"type":"string"},"example":true},{"name":"size","in":"query","description":"Number of results to return.  Default of 0 means return all possible results.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":10},{"name":"page","in":"query","description":"Page number for the queried OCM(s), indexed by 0 (first page). Default is 0","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":1},{"name":"headersOnly","in":"query","description":"Return a reduced object. works with filters messageId, creationDate, objectDesignator, operator","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"format","in":"query","required":false,"schema":{"type":"string","default":"JSON"}}],"responses":{"200":{"description":"NDJSON Stream for V2 OCMs","content":{"text/plain":{"schema":{"type":"string","example":"CCSDS_OCM_VERS           = VALUE\nCLASSIFICATION           = VALUE\nCREATION_DATE            = VALUE\nORIGINATOR               = VALUE\nMESSAGE_ID               = VALUE\n\nMETA_START\nINTERNATIONAL_DESIGNATOR = VALUE\nOBJECT_DESIGNATOR        = VALUE\n\nORIGINATOR_PHONE         = VALUE\nORIGINATOR_EMAIL         = VALUE\nORIGINATOR_ADDRESS       = VALUE\n\nOPERATOR                 = VALUE\nOWNER                    = VALUE\nCOUNTRY                  = VALUE\nOBJECT_TYPE              = VALUE\n\nTIME_SYSTEM              = VALUE\nEPOCH_TZERO              = VALUE\nOCM_DATA_ELEMENTS        = VALUE\nSTART_TIME               = VALUE\nSTOP_TIME                = VALUE\nMETA_STOP\n\nTRAJ_START\nTRAJ_ID                  = VALUE\nTRAJ_BASIS               = VALUE\nCENTER_NAME              = VALUE\nTRAJ_REF_FRAME           = VALUE\nUSEABLE_START_TIME       = VALUE\nUSEABLE_STOP_TIME        = VALUE\nTRAJ_TYPE                = VALUE\n[VALUE, VALUE, VALUE, VALUE, VALUE, VALUE]\nVALUE VALUE VALUE VALUE VALUE VALUE VALUE VALUE VALUE\nTRAJ_STOP\n\nPHYS_START\nPHYS_STOP\n\nPERT_START\nPERT_STOP\n\nOD_START\nOD_STOP\n\nUSER_START\nUSER_STOP\nCCSDS_OCM_VERS           = VALUE\nCLASSIFICATION           = VALUE\nCREATION_DATE            = VALUE\nORIGINATOR               = VALUE\nMESSAGE_ID               = VALUE\n\nMETA_START\nINTERNATIONAL_DESIGNATOR = VALUE\nOBJECT_DESIGNATOR        = VALUE\n\nORIGINATOR_PHONE         = VALUE\nORIGINATOR_EMAIL         = VALUE\nORIGINATOR_ADDRESS       = VALUE\n\nOPERATOR                 = VALUE\nOWNER                    = VALUE\nCOUNTRY                  = VALUE\nOBJECT_TYPE              = VALUE\n\nTIME_SYSTEM              = VALUE\nEPOCH_TZERO              = VALUE\nOCM_DATA_ELEMENTS        = VALUE\nSTART_TIME               = VALUE\nSTOP_TIME                = VALUE\nMETA_STOP\n\nTRAJ_START\nTRAJ_ID                  = VALUE\nTRAJ_BASIS               = VALUE\nCENTER_NAME              = VALUE\nTRAJ_REF_FRAME           = VALUE\nUSEABLE_START_TIME       = VALUE\nUSEABLE_STOP_TIME        = VALUE\nTRAJ_TYPE                = VALUE\n[VALUE, VALUE, VALUE, VALUE, VALUE, VALUE]\nVALUE VALUE VALUE VALUE VALUE VALUE VALUE VALUE VALUE\nTRAJ_STOP\n\nPHYS_START\nPHYS_STOP\n\nPERT_START\nPERT_STOP\n\nOD_START\nOD_STOP\n\nUSER_START\nUSER_STOP"}},"application/x-ndjson":{"schema":{"type":"object","properties":{"headersOnly":{"type":"string","example":{"messageId":"VALUE","creationDate":"VALUE","objectDesignator":"VALUE","operator":"VALUE","owner":"VALUE","constellation":"VALUE","startTime":"VALUE","stopTime":"VALUE"}},"default":{"type":"string","example":{"ocm":{"ccsdsOcmVersion":"VALUE","headerComments":[],"classification":"VALUE","creationDate":"VALUE","originator":"VALUE","messageId":"VALUE","metaComments":[],"objectName":"VALUE","internationalDesignator":"VALUE","catalogName":"VALUE","objectDesignator":"VALUE","alternateNames":[],"originatorPoc":"VALUE","originatorPosition":"VALUE","originatorPhone":"VALUE","originatorEmail":"VALUE","originatorAddress":"VALUE","techOrg":"VALUE","techPoc":"VALUE","techPosition":"VALUE","techPhone":"VALUE","techEmail":"VALUE","techAddress":"VALUE","prevMessageId":"VALUE","nextMessageId":"VALUE","admMsgLink":"VALUE","cdmMsgLink":"VALUE","prmMsgLink":"VALUE","rdmMsgLink":"VALUE","tdmMsgLink":"VALUE","operator":"VALUE","owner":"VALUE","country":"VALUE","constellation":"VALUE","objectType":"VALUE","timeSystem":"VALUE","epochT0":"VALUE","opsStatus":[],"orbitCategory":"VALUE","ocmDataElements":["VALUE"],"sclkOffsetAtEpoch":"VALUE","sclkSecPerSiSec":"VALUE","previousMessageEpoch":"VALUE","nextMessageEpoch":"VALUE","startTime":"VALUE","stopTime":"VALUE","timeSpan":"VALUE","taimUtcAtT0":"VALUE","nextLeapEpoch":"VALUE","nextLeapTaimUtc":"VALUE","ut1MUtcAtT0":"VALUE","eopSource":"VALUE","interpMethodEop":"VALUE","celestialSource":"VALUE","trajectories":"VALUE","physComments":[],"manufacturer":"VALUE","busModel":"VALUE","dockedWith":"VALUE","dragConstArea":"VALUE","dragCoeff":"VALUE","dragUncertainty":"VALUE","initialWetMass":"VALUE","wetMass":"VALUE","dryMass":"VALUE","oebParentFrame":"VALUE","oebParentFrameEpoch":"VALUE","oebQ1":"VALUE","oebQ2":"VALUE","oebQ3":"VALUE","oebQC":"VALUE","oebMax":"VALUE","oebInt":"VALUE","oebMin":"VALUE","areaAlongOebMax":"VALUE","areaAlongOebInt":"VALUE","areaAlongOebMin":"VALUE","areaMinForPc":"VALUE","areaMaxForPc":"VALUE","areaTypForPc":"VALUE","rcs":"VALUE","rcsMin":"VALUE","rcsMax":"VALUE","srpConstArea":"VALUE","solarRadCoeff":"VALUE","solarRadUncertainty":"VALUE","vmAbsolute":"VALUE","vmApparentMin":"VALUE","vmApparent":"VALUE","vmApparentMax":"VALUE","reflectance":"VALUE","attControlMode":"VALUE","attActuatorType":"VALUE","attKnowledge":"VALUE","attControl":"VALUE","attPointing":"VALUE","avgManeuverFreq":"VALUE","maxThrust":"VALUE","dvBol":"VALUE","dvRemaining":"VALUE","ixx":"VALUE","iyy":"VALUE","izz":"VALUE","ixy":"VALUE","ixz":"VALUE","iyz":"VALUE","covariances":"VALUE","maneuvers":"VALUE","pertComments":[],"atmosphericModel":"VALUE","gravityModel":"VALUE","equatorialRadius":"VALUE","gm":"VALUE","nBodyPerturbations":[],"centralBodyRotation":"VALUE","oblateFlattening":"VALUE","oceanTidesModel":"VALUE","solidTidesModel":"VALUE","reductionTheory":"VALUE","albedoModel":"VALUE","albedoGridSize":"VALUE","shadowModel":"VALUE","shadowBodies":"VALUE","srpModel":"VALUE","swDataSource":"VALUE","swDataEpoch":"VALUE","swInterpMethod":"VALUE","fixedGeomagKp":"VALUE","fixedGeomagAp":"VALUE","fixedGeomagDst":"VALUE","fixedF10P7":"VALUE","fixedF10P7Mean":"VALUE","fixedM10P7":"VALUE","fixedM10P7Mean":"VALUE","fixedS10P7":"VALUE","fixedS10P7Mean":"VALUE","fixedY10P7":"VALUE","fixedY10P7Mean":"VALUE","odComments":[],"odId":"VALUE","odPrevId":"VALUE","odMethod":"VALUE","odEpoch":"VALUE","daysSinceFirstObs":"VALUE","daysSinceLastObs":"VALUE","recommendedOdSpan":"VALUE","actualOdSpan":"VALUE","obsAvailable":"VALUE","obsUsed":"VALUE","tracksAvailable":"VALUE","tracksUsed":"VALUE","maxObsGap":"VALUE","odEpochElGMAJ":"VALUE","odEpochElGINT":"VALUE","odEpochElGMIN":"VALUE","odMaxPredEigMAJ":"VALUE","odMaxPredEigMIN":"VALUE","odConfidence":"VALUE","gdop":"VALUE","solveN":"VALUE","solveStates":"VALUE","considerN":"VALUE","considerParams":"VALUE","sedr":"VALUE","sensorsN":"VALUE","sensors":"VALUE","weightedRms":"VALUE","dataTypes":"VALUE","userComments":[],"userDefined":{"hbr":"VALUE"}}}}}}},"application/xml":{"examples":{"Example XML V2 CDM":{"description":"Example XML V2 CDM","value":"<ocm>\n    <cdmMsgLink>VALUE</cdmMsgLink>\n    <oebQ3>VALUE</oebQ3>\n    <oebQ2>VALUE</oebQ2>\n    <oebQ1>VALUE</oebQ1>\n    <oebParentFrameEpoch>VALUE</oebParentFrameEpoch>\n    <dragConstArea>VALUE</dragConstArea>\n    <internationalDesignator>VALUE</internationalDesignator>\n    <nextMessageEpoch>VALUE</nextMessageEpoch>\n    <constellation>VALUE</constellation>\n    <oebQC>VALUE</oebQC>\n    <nextLeapTaimUtc>VALUE</nextLeapTaimUtc>\n    <reductionTheory>VALUE</reductionTheory>\n    <orbitCategory>VALUE</orbitCategory>\n    <fixedGeomagAp>VALUE</fixedGeomagAp>\n    <techOrg>VALUE</techOrg>\n    <fixedGeomagKp>VALUE</fixedGeomagKp>\n    <fixedS10P7>VALUE</fixedS10P7>\n    <shadowModel>VALUE</shadowModel>\n    <techAddress>VALUE</techAddress>\n    <oebInt>VALUE</oebInt>\n    <celestialSource>VALUE</celestialSource>\n    <ixx>VALUE</ixx>\n    <ixz>VALUE</ixz>\n    <weightedRms>VALUE</weightedRms>\n    <ixy>VALUE</ixy>\n    <classification>VALUE</classification>\n    <attControlMode>VALUE</attControlMode>\n    <nextLeapEpoch>VALUE</nextLeapEpoch>\n    <swDataSource>VALUE</swDataSource>\n    <originatorPosition>VALUE</originatorPosition>\n    <previousMessageEpoch>VALUE</previousMessageEpoch>\n    <gravityModel>VALUE</gravityModel>\n    <originatorPhone>VALUE</originatorPhone>\n    <prmMsgLink>VALUE</prmMsgLink>\n    <odEpochElGINT>VALUE</odEpochElGINT>\n    <dragUncertainty>VALUE</dragUncertainty>\n    <oebMin>VALUE</oebMin>\n    <originatorAddress>VALUE</originatorAddress>\n    <iyy>VALUE</iyy>\n    <tracksUsed>VALUE</tracksUsed>\n    <originatorEmail>VALUE</originatorEmail>\n    <iyz>VALUE</iyz>\n    <oblateFlattening>VALUE</oblateFlattening>\n    <gdop>VALUE</gdop>\n    <manufacturer>VALUE</manufacturer>\n    <sensorsN>VALUE</sensorsN>\n    <fixedM10P7Mean>VALUE</fixedM10P7Mean>\n    <dataTypes>VALUE</dataTypes>\n    <solarRadCoeff>VALUE</solarRadCoeff>\n    <covariances>\n        <covUnits>VALUE</covUnits>\n        <covScaleMax>VALUE</covScaleMax>\n        <covId>VALUE</covId>\n        <covNextId>VALUE</covNextId>\n        <covBasis>VALUE</covBasis>\n        <sectionNumber>VALUE</sectionNumber>\n        <messageId>VALUE</messageId>\n        <covPrevId>VALUE</covPrevId>\n        <covBasisId>VALUE</covBasisId>\n        <covRefFrame>VALUE</covRefFrame>\n        <covValues>VALUE</covValues>\n        <covConfidence>VALUE</covConfidence>\n        <idOcmCov>VALUE</idOcmCov>\n        <covScaleMin>VALUE</covScaleMin>\n        <covComments>VALUE</covComments>\n        <covFrameEpoch>VALUE</covFrameEpoch>\n        <covType>VALUE</covType>\n        <covOrdering>VALUE</covOrdering>\n    </covariances>\n    <sedr>VALUE</sedr>\n    <obsUsed>VALUE</obsUsed>\n    <dockedWith>VALUE</dockedWith>\n    <startTime>VALUE</startTime>\n    <taimUtcAtT0>VALUE</taimUtcAtT0>\n    <oebMax>VALUE</oebMax>\n    <srpConstArea>VALUE</srpConstArea>\n    <ocmDataElements>VALUE</ocmDataElements>\n    <areaAlongOebInt>VALUE</areaAlongOebInt>\n    <rcs>VALUE</rcs>\n    <vmApparentMin>VALUE</vmApparentMin>\n    <solveN>VALUE</solveN>\n    <solveStates>VALUE</solveStates>\n    <avgManeuverFreq>VALUE</avgManeuverFreq>\n    <izz>VALUE</izz>\n    <odPrevId>VALUE</odPrevId>\n    <ut1MUtcAtT0>VALUE</ut1MUtcAtT0>\n    <solidTidesModel>VALUE</solidTidesModel>\n    <tdmMsgLink>VALUE</tdmMsgLink>\n    <swInterpMethod>VALUE</swInterpMethod>\n    <considerParams>VALUE</considerParams>\n    <fixedY10P7>VALUE</fixedY10P7>\n    <vmApparentMax>VALUE</vmApparentMax>\n    <dryMass>VALUE</dryMass>\n    <dvBol>VALUE</dvBol>\n    <equatorialRadius>VALUE</equatorialRadius>\n    <initialWetMass>VALUE</initialWetMass>\n    <maxThrust>VALUE</maxThrust>\n    <daysSinceFirstObs>VALUE</daysSinceFirstObs>\n    <techPoc>VALUE</techPoc>\n    <country>VALUE</country>\n    <techPosition>VALUE</techPosition>\n    <srpModel>VALUE</srpModel>\n    <albedoModel>VALUE</albedoModel>\n    <attPointing>VALUE</attPointing>\n    <techPhone>VALUE</techPhone>\n    <interpMethodEop>VALUE</interpMethodEop>\n    <fixedF10P7Mean>VALUE</fixedF10P7Mean>\n    <attActuatorType>VALUE</attActuatorType>\n    <operator>VALUE</operator>\n    <objectType>VALUE</objectType>\n    <areaTypForPc>VALUE</areaTypForPc>\n    <considerN>VALUE</considerN>\n    <eopSource>VALUE</eopSource>\n    <odEpochElGMIN>VALUE</odEpochElGMIN>\n    <busModel>VALUE</busModel>\n    <rcsMax>VALUE</rcsMax>\n    <vmAbsolute>VALUE</vmAbsolute>\n    <fixedGeomagDst>VALUE</fixedGeomagDst>\n    <timeSpan>VALUE</timeSpan>\n    <atmosphericModel>VALUE</atmosphericModel>\n    <fixedY10P7Mean>VALUE</fixedY10P7Mean>\n    <epochT0>VALUE</epochT0>\n    <oceanTidesModel>VALUE</oceanTidesModel>\n    <objectDesignator>VALUE</objectDesignator>\n    <wetMass>VALUE</wetMass>\n    <daysSinceLastObs>VALUE</daysSinceLastObs>\n    <recommendedOdSpan>VALUE</recommendedOdSpan>\n    <odEpochElGMAJ>VALUE</odEpochElGMAJ>\n    <oebParentFrame>VALUE</oebParentFrame>\n    <areaMaxForPc>VALUE</areaMaxForPc>\n    <rcsMin>VALUE</rcsMin>\n    <odConfidence>VALUE</odConfidence>\n    <odMaxPredEigMIN>VALUE</odMaxPredEigMIN>\n    <userDefined>\n        <hbr>VALUE</hbr>\n    </userDefined>\n    <messageId>VALUE</messageId>\n    <solarRadUncertainty>VALUE</solarRadUncertainty>\n    <centralBodyRotation>VALUE</centralBodyRotation>\n    <odMethod>VALUE</odMethod>\n    <creationDate>VALUE</creationDate>\n    <admMsgLink>VALUE</admMsgLink>\n    <prevMessageId>VALUE</prevMessageId>\n    <catalogName>VALUE</catalogName>\n    <fixedM10P7>VALUE</fixedM10P7>\n    <attControl>VALUE</attControl>\n    <nextMessageId>VALUE</nextMessageId>\n    <rdmMsgLink>VALUE</rdmMsgLink>\n    <originatorPoc>VALUE</originatorPoc>\n    <dragCoeff>VALUE</dragCoeff>\n    <swDataEpoch>VALUE</swDataEpoch>\n    <trajectories>\n        <trajBasis>VALUE</trajBasis>\n        <trajId>VALUE</trajId>\n        <sectionNumber>VALUE</sectionNumber>\n        <messageId>VALUE</messageId>\n        <propagator>VALUE</propagator>\n        <trajComments>VALUE</trajComments>\n        <orbRevNum>VALUE</orbRevNum>\n        <idOcmTraj>VALUE</idOcmTraj>\n        <trajUnits>VALUE</trajUnits>\n        <orbAveraging>VALUE</orbAveraging>\n        <useableStartTime>VALUE</useableStartTime>\n        <interpolation>VALUE</interpolation>\n        <useableStopTime>VALUE</useableStopTime>\n        <trajType>VALUE</trajType>\n        <orbRevNumBasis>VALUE</orbRevNumBasis>\n        <trajPrevId>VALUE</trajPrevId>\n        <trajBasisId>VALUE</trajBasisId>\n        <trajRefFrame>VALUE</trajRefFrame>\n        <trajValues>VALUE</trajValues>\n        <trajFrameEpoch>VALUE</trajFrameEpoch>\n        <trajNextId>VALUE</trajNextId>\n        <centerName>VALUE</centerName>\n        <interpolationDegree>VALUE</interpolationDegree>\n    </trajectories>\n    <areaAlongOebMin>VALUE</areaAlongOebMin>\n    <ccsdsOcmVersion>VALUE</ccsdsOcmVersion>\n    <originator>VALUE</originator>\n    <sclkOffsetAtEpoch>VALUE</sclkOffsetAtEpoch>\n    <odEpoch>VALUE</odEpoch>\n    <sclkSecPerSiSec>VALUE</sclkSecPerSiSec>\n    <timeSystem>VALUE</timeSystem>\n    <actualOdSpan>VALUE</actualOdSpan>\n    <fixedF10P7>VALUE</fixedF10P7>\n    <attKnowledge>VALUE</attKnowledge>\n    <shadowBodies>VALUE</shadowBodies>\n    <odMaxPredEigMAJ>VALUE</odMaxPredEigMAJ>\n    <stopTime>VALUE</stopTime>\n    <maneuvers>VALUE</maneuvers>\n    <owner>VALUE</owner>\n    <odId>VALUE</odId>\n    <reflectance>VALUE</reflectance>\n    <gm>VALUE</gm>\n    <areaMinForPc>VALUE</areaMinForPc>\n    <obsAvailable>VALUE</obsAvailable>\n    <maxObsGap>VALUE</maxObsGap>\n    <tracksAvailable>VALUE</tracksAvailable>\n    <sensors>VALUE</sensors>\n    <albedoGridSize>VALUE</albedoGridSize>\n    <areaAlongOebMax>VALUE</areaAlongOebMax>\n    <objectName>VALUE</objectName>\n    <fixedS10P7Mean>VALUE</fixedS10P7Mean>\n    <vmApparent>VALUE</vmApparent>\n    <dvRemaining>VALUE</dvRemaining>\n    <techEmail>VALUE</techEmail>\n</ocm>\n<ocm>\n    <cdmMsgLink>VALUE</cdmMsgLink>\n    <oebQ3>VALUE</oebQ3>\n    <oebQ2>VALUE</oebQ2>\n    <oebQ1>VALUE</oebQ1>\n    <oebParentFrameEpoch>VALUE</oebParentFrameEpoch>\n    <dragConstArea>VALUE</dragConstArea>\n    <internationalDesignator>VALUE</internationalDesignator>\n    <nextMessageEpoch>VALUE</nextMessageEpoch>\n    <constellation>VALUE</constellation>\n    <oebQC>VALUE</oebQC>\n    <nextLeapTaimUtc>VALUE</nextLeapTaimUtc>\n    <reductionTheory>VALUE</reductionTheory>\n    <orbitCategory>VALUE</orbitCategory>\n    <fixedGeomagAp>VALUE</fixedGeomagAp>\n    <techOrg>VALUE</techOrg>\n    <fixedGeomagKp>VALUE</fixedGeomagKp>\n    <fixedS10P7>VALUE</fixedS10P7>\n    <shadowModel>VALUE</shadowModel>\n    <techAddress>VALUE</techAddress>\n    <oebInt>VALUE</oebInt>\n    <celestialSource>VALUE</celestialSource>\n    <ixx>VALUE</ixx>\n    <ixz>VALUE</ixz>\n    <weightedRms>VALUE</weightedRms>\n    <ixy>VALUE</ixy>\n    <classification>VALUE</classification>\n    <attControlMode>VALUE</attControlMode>\n    <nextLeapEpoch>VALUE</nextLeapEpoch>\n    <swDataSource>VALUE</swDataSource>\n    <originatorPosition>VALUE</originatorPosition>\n    <previousMessageEpoch>VALUE</previousMessageEpoch>\n    <gravityModel>VALUE</gravityModel>\n    <originatorPhone>VALUE</originatorPhone>\n    <prmMsgLink>VALUE</prmMsgLink>\n    <odEpochElGINT>VALUE</odEpochElGINT>\n    <dragUncertainty>VALUE</dragUncertainty>\n    <oebMin>VALUE</oebMin>\n    <originatorAddress>VALUE</originatorAddress>\n    <iyy>VALUE</iyy>\n    <tracksUsed>VALUE</tracksUsed>\n    <originatorEmail>VALUE</originatorEmail>\n    <iyz>VALUE</iyz>\n    <oblateFlattening>VALUE</oblateFlattening>\n    <gdop>VALUE</gdop>\n    <manufacturer>VALUE</manufacturer>\n    <sensorsN>VALUE</sensorsN>\n    <fixedM10P7Mean>VALUE</fixedM10P7Mean>\n    <dataTypes>VALUE</dataTypes>\n    <solarRadCoeff>VALUE</solarRadCoeff>\n    <covariances>\n        <covUnits>VALUE</covUnits>\n        <covScaleMax>VALUE</covScaleMax>\n        <covId>VALUE</covId>\n        <covNextId>VALUE</covNextId>\n        <covBasis>VALUE</covBasis>\n        <sectionNumber>VALUE</sectionNumber>\n        <messageId>VALUE</messageId>\n        <covPrevId>VALUE</covPrevId>\n        <covBasisId>VALUE</covBasisId>\n        <covRefFrame>VALUE</covRefFrame>\n        <covValues>VALUE</covValues>\n        <covConfidence>VALUE</covConfidence>\n        <idOcmCov>VALUE</idOcmCov>\n        <covScaleMin>VALUE</covScaleMin>\n        <covComments>VALUE</covComments>\n        <covFrameEpoch>VALUE</covFrameEpoch>\n        <covType>VALUE</covType>\n        <covOrdering>VALUE</covOrdering>\n    </covariances>\n    <sedr>VALUE</sedr>\n    <obsUsed>VALUE</obsUsed>\n    <dockedWith>VALUE</dockedWith>\n    <startTime>VALUE</startTime>\n    <taimUtcAtT0>VALUE</taimUtcAtT0>\n    <oebMax>VALUE</oebMax>\n    <srpConstArea>VALUE</srpConstArea>\n    <ocmDataElements>VALUE</ocmDataElements>\n    <areaAlongOebInt>VALUE</areaAlongOebInt>\n    <rcs>VALUE</rcs>\n    <vmApparentMin>VALUE</vmApparentMin>\n    <solveN>VALUE</solveN>\n    <solveStates>VALUE</solveStates>\n    <avgManeuverFreq>VALUE</avgManeuverFreq>\n    <izz>VALUE</izz>\n    <odPrevId>VALUE</odPrevId>\n    <ut1MUtcAtT0>VALUE</ut1MUtcAtT0>\n    <solidTidesModel>VALUE</solidTidesModel>\n    <tdmMsgLink>VALUE</tdmMsgLink>\n    <swInterpMethod>VALUE</swInterpMethod>\n    <considerParams>VALUE</considerParams>\n    <fixedY10P7>VALUE</fixedY10P7>\n    <vmApparentMax>VALUE</vmApparentMax>\n    <dryMass>VALUE</dryMass>\n    <dvBol>VALUE</dvBol>\n    <equatorialRadius>VALUE</equatorialRadius>\n    <initialWetMass>VALUE</initialWetMass>\n    <maxThrust>VALUE</maxThrust>\n    <daysSinceFirstObs>VALUE</daysSinceFirstObs>\n    <techPoc>VALUE</techPoc>\n    <country>VALUE</country>\n    <techPosition>VALUE</techPosition>\n    <srpModel>VALUE</srpModel>\n    <albedoModel>VALUE</albedoModel>\n    <attPointing>VALUE</attPointing>\n    <techPhone>VALUE</techPhone>\n    <interpMethodEop>VALUE</interpMethodEop>\n    <fixedF10P7Mean>VALUE</fixedF10P7Mean>\n    <attActuatorType>VALUE</attActuatorType>\n    <operator>VALUE</operator>\n    <objectType>VALUE</objectType>\n    <areaTypForPc>VALUE</areaTypForPc>\n    <considerN>VALUE</considerN>\n    <eopSource>VALUE</eopSource>\n    <odEpochElGMIN>VALUE</odEpochElGMIN>\n    <busModel>VALUE</busModel>\n    <rcsMax>VALUE</rcsMax>\n    <vmAbsolute>VALUE</vmAbsolute>\n    <fixedGeomagDst>VALUE</fixedGeomagDst>\n    <timeSpan>VALUE</timeSpan>\n    <atmosphericModel>VALUE</atmosphericModel>\n    <fixedY10P7Mean>VALUE</fixedY10P7Mean>\n    <epochT0>VALUE</epochT0>\n    <oceanTidesModel>VALUE</oceanTidesModel>\n    <objectDesignator>VALUE</objectDesignator>\n    <wetMass>VALUE</wetMass>\n    <daysSinceLastObs>VALUE</daysSinceLastObs>\n    <recommendedOdSpan>VALUE</recommendedOdSpan>\n    <odEpochElGMAJ>VALUE</odEpochElGMAJ>\n    <oebParentFrame>VALUE</oebParentFrame>\n    <areaMaxForPc>VALUE</areaMaxForPc>\n    <rcsMin>VALUE</rcsMin>\n    <odConfidence>VALUE</odConfidence>\n    <odMaxPredEigMIN>VALUE</odMaxPredEigMIN>\n    <userDefined>\n        <hbr>VALUE</hbr>\n    </userDefined>\n    <messageId>VALUE</messageId>\n    <solarRadUncertainty>VALUE</solarRadUncertainty>\n    <centralBodyRotation>VALUE</centralBodyRotation>\n    <odMethod>VALUE</odMethod>\n    <creationDate>VALUE</creationDate>\n    <admMsgLink>VALUE</admMsgLink>\n    <prevMessageId>VALUE</prevMessageId>\n    <catalogName>VALUE</catalogName>\n    <fixedM10P7>VALUE</fixedM10P7>\n    <attControl>VALUE</attControl>\n    <nextMessageId>VALUE</nextMessageId>\n    <rdmMsgLink>VALUE</rdmMsgLink>\n    <originatorPoc>VALUE</originatorPoc>\n    <dragCoeff>VALUE</dragCoeff>\n    <swDataEpoch>VALUE</swDataEpoch>\n    <trajectories>\n        <trajBasis>VALUE</trajBasis>\n        <trajId>VALUE</trajId>\n        <sectionNumber>VALUE</sectionNumber>\n        <messageId>VALUE</messageId>\n        <propagator>VALUE</propagator>\n        <trajComments>VALUE</trajComments>\n        <orbRevNum>VALUE</orbRevNum>\n        <idOcmTraj>VALUE</idOcmTraj>\n        <trajUnits>VALUE</trajUnits>\n        <orbAveraging>VALUE</orbAveraging>\n        <useableStartTime>VALUE</useableStartTime>\n        <interpolation>VALUE</interpolation>\n        <useableStopTime>VALUE</useableStopTime>\n        <trajType>VALUE</trajType>\n        <orbRevNumBasis>VALUE</orbRevNumBasis>\n        <trajPrevId>VALUE</trajPrevId>\n        <trajBasisId>VALUE</trajBasisId>\n        <trajRefFrame>VALUE</trajRefFrame>\n        <trajValues>VALUE</trajValues>\n        <trajFrameEpoch>VALUE</trajFrameEpoch>\n        <trajNextId>VALUE</trajNextId>\n        <centerName>VALUE</centerName>\n        <interpolationDegree>VALUE</interpolationDegree>\n    </trajectories>\n    <areaAlongOebMin>VALUE</areaAlongOebMin>\n    <ccsdsOcmVersion>VALUE</ccsdsOcmVersion>\n    <originator>VALUE</originator>\n    <sclkOffsetAtEpoch>VALUE</sclkOffsetAtEpoch>\n    <odEpoch>VALUE</odEpoch>\n    <sclkSecPerSiSec>VALUE</sclkSecPerSiSec>\n    <timeSystem>VALUE</timeSystem>\n    <actualOdSpan>VALUE</actualOdSpan>\n    <fixedF10P7>VALUE</fixedF10P7>\n    <attKnowledge>VALUE</attKnowledge>\n    <shadowBodies>VALUE</shadowBodies>\n    <odMaxPredEigMAJ>VALUE</odMaxPredEigMAJ>\n    <stopTime>VALUE</stopTime>\n    <maneuvers>VALUE</maneuvers>\n    <owner>VALUE</owner>\n    <odId>VALUE</odId>\n    <reflectance>VALUE</reflectance>\n    <gm>VALUE</gm>\n    <areaMinForPc>VALUE</areaMinForPc>\n    <obsAvailable>VALUE</obsAvailable>\n    <maxObsGap>VALUE</maxObsGap>\n    <tracksAvailable>VALUE</tracksAvailable>\n    <sensors>VALUE</sensors>\n    <albedoGridSize>VALUE</albedoGridSize>\n    <areaAlongOebMax>VALUE</areaAlongOebMax>\n    <objectName>VALUE</objectName>\n    <fixedS10P7Mean>VALUE</fixedS10P7Mean>\n    <vmApparent>VALUE</vmApparent>\n    <dvRemaining>VALUE</dvRemaining>\n    <techEmail>VALUE</techEmail>\n</ocm>\n<ocm>\n    <cdmMsgLink>VALUE</cdmMsgLink>\n    <oebQ3>VALUE</oebQ3>\n    <oebQ2>VALUE</oebQ2>\n    <oebQ1>VALUE</oebQ1>\n    <oebParentFrameEpoch>VALUE</oebParentFrameEpoch>\n    <dragConstArea>VALUE</dragConstArea>\n    <internationalDesignator>VALUE</internationalDesignator>\n    <nextMessageEpoch>VALUE</nextMessageEpoch>\n    <constellation>VALUE</constellation>\n    <oebQC>VALUE</oebQC>\n    <nextLeapTaimUtc>VALUE</nextLeapTaimUtc>\n    <reductionTheory>VALUE</reductionTheory>\n    <orbitCategory>VALUE</orbitCategory>\n    <fixedGeomagAp>VALUE</fixedGeomagAp>\n    <techOrg>VALUE</techOrg>\n    <fixedGeomagKp>VALUE</fixedGeomagKp>\n    <fixedS10P7>VALUE</fixedS10P7>\n    <shadowModel>VALUE</shadowModel>\n    <techAddress>VALUE</techAddress>\n    <oebInt>VALUE</oebInt>\n    <celestialSource>VALUE</celestialSource>\n    <ixx>VALUE</ixx>\n    <ixz>VALUE</ixz>\n    <weightedRms>VALUE</weightedRms>\n    <ixy>VALUE</ixy>\n    <classification>VALUE</classification>\n    <attControlMode>VALUE</attControlMode>\n    <nextLeapEpoch>VALUE</nextLeapEpoch>\n    <swDataSource>VALUE</swDataSource>\n    <originatorPosition>VALUE</originatorPosition>\n    <previousMessageEpoch>VALUE</previousMessageEpoch>\n    <gravityModel>VALUE</gravityModel>\n    <originatorPhone>VALUE</originatorPhone>\n    <prmMsgLink>VALUE</prmMsgLink>\n    <odEpochElGINT>VALUE</odEpochElGINT>\n    <dragUncertainty>VALUE</dragUncertainty>\n    <oebMin>VALUE</oebMin>\n    <originatorAddress>VALUE</originatorAddress>\n    <iyy>VALUE</iyy>\n    <tracksUsed>VALUE</tracksUsed>\n    <originatorEmail>VALUE</originatorEmail>\n    <iyz>VALUE</iyz>\n    <oblateFlattening>VALUE</oblateFlattening>\n    <gdop>VALUE</gdop>\n    <manufacturer>VALUE</manufacturer>\n    <sensorsN>VALUE</sensorsN>\n    <fixedM10P7Mean>VALUE</fixedM10P7Mean>\n    <dataTypes>VALUE</dataTypes>\n    <solarRadCoeff>VALUE</solarRadCoeff>\n    <covariances>\n        <covUnits>VALUE</covUnits>\n        <covScaleMax>VALUE</covScaleMax>\n        <covId>VALUE</covId>\n        <covNextId>VALUE</covNextId>\n        <covBasis>VALUE</covBasis>\n        <sectionNumber>VALUE</sectionNumber>\n        <messageId>VALUE</messageId>\n        <covPrevId>VALUE</covPrevId>\n        <covBasisId>VALUE</covBasisId>\n        <covRefFrame>VALUE</covRefFrame>\n        <covValues>VALUE</covValues>\n        <covConfidence>VALUE</covConfidence>\n        <idOcmCov>VALUE</idOcmCov>\n        <covScaleMin>VALUE</covScaleMin>\n        <covComments>VALUE</covComments>\n        <covFrameEpoch>VALUE</covFrameEpoch>\n        <covType>VALUE</covType>\n        <covOrdering>VALUE</covOrdering>\n    </covariances>\n    <sedr>VALUE</sedr>\n    <obsUsed>VALUE</obsUsed>\n    <dockedWith>VALUE</dockedWith>\n    <startTime>VALUE</startTime>\n    <taimUtcAtT0>VALUE</taimUtcAtT0>\n    <oebMax>VALUE</oebMax>\n    <srpConstArea>VALUE</srpConstArea>\n    <ocmDataElements>VALUE</ocmDataElements>\n    <areaAlongOebInt>VALUE</areaAlongOebInt>\n    <rcs>VALUE</rcs>\n    <vmApparentMin>VALUE</vmApparentMin>\n    <solveN>VALUE</solveN>\n    <solveStates>VALUE</solveStates>\n    <avgManeuverFreq>VALUE</avgManeuverFreq>\n    <izz>VALUE</izz>\n    <odPrevId>VALUE</odPrevId>\n    <ut1MUtcAtT0>VALUE</ut1MUtcAtT0>\n    <solidTidesModel>VALUE</solidTidesModel>\n    <tdmMsgLink>VALUE</tdmMsgLink>\n    <swInterpMethod>VALUE</swInterpMethod>\n    <considerParams>VALUE</considerParams>\n    <fixedY10P7>VALUE</fixedY10P7>\n    <vmApparentMax>VALUE</vmApparentMax>\n    <dryMass>VALUE</dryMass>\n    <dvBol>VALUE</dvBol>\n    <equatorialRadius>VALUE</equatorialRadius>\n    <initialWetMass>VALUE</initialWetMass>\n    <maxThrust>VALUE</maxThrust>\n    <daysSinceFirstObs>VALUE</daysSinceFirstObs>\n    <techPoc>VALUE</techPoc>\n    <country>VALUE</country>\n    <techPosition>VALUE</techPosition>\n    <srpModel>VALUE</srpModel>\n    <albedoModel>VALUE</albedoModel>\n    <attPointing>VALUE</attPointing>\n    <techPhone>VALUE</techPhone>\n    <interpMethodEop>VALUE</interpMethodEop>\n    <fixedF10P7Mean>VALUE</fixedF10P7Mean>\n    <attActuatorType>VALUE</attActuatorType>\n    <operator>VALUE</operator>\n    <objectType>VALUE</objectType>\n    <areaTypForPc>VALUE</areaTypForPc>\n    <considerN>VALUE</considerN>\n    <eopSource>VALUE</eopSource>\n    <odEpochElGMIN>VALUE</odEpochElGMIN>\n    <busModel>VALUE</busModel>\n    <rcsMax>VALUE</rcsMax>\n    <vmAbsolute>VALUE</vmAbsolute>\n    <fixedGeomagDst>VALUE</fixedGeomagDst>\n    <timeSpan>VALUE</timeSpan>\n    <atmosphericModel>VALUE</atmosphericModel>\n    <fixedY10P7Mean>VALUE</fixedY10P7Mean>\n    <epochT0>VALUE</epochT0>\n    <oceanTidesModel>VALUE</oceanTidesModel>\n    <objectDesignator>VALUE</objectDesignator>\n    <wetMass>VALUE</wetMass>\n    <daysSinceLastObs>VALUE</daysSinceLastObs>\n    <recommendedOdSpan>VALUE</recommendedOdSpan>\n    <odEpochElGMAJ>VALUE</odEpochElGMAJ>\n    <oebParentFrame>VALUE</oebParentFrame>\n    <areaMaxForPc>VALUE</areaMaxForPc>\n    <rcsMin>VALUE</rcsMin>\n    <odConfidence>VALUE</odConfidence>\n    <odMaxPredEigMIN>VALUE</odMaxPredEigMIN>\n    <userDefined>\n        <hbr>VALUE</hbr>\n    </userDefined>\n    <messageId>VALUE</messageId>\n    <solarRadUncertainty>VALUE</solarRadUncertainty>\n    <centralBodyRotation>VALUE</centralBodyRotation>\n    <odMethod>VALUE</odMethod>\n    <creationDate>VALUE</creationDate>\n    <admMsgLink>VALUE</admMsgLink>\n    <prevMessageId>VALUE</prevMessageId>\n    <catalogName>VALUE</catalogName>\n    <fixedM10P7>VALUE</fixedM10P7>\n    <attControl>VALUE</attControl>\n    <nextMessageId>VALUE</nextMessageId>\n    <rdmMsgLink>VALUE</rdmMsgLink>\n    <originatorPoc>VALUE</originatorPoc>\n    <dragCoeff>VALUE</dragCoeff>\n    <swDataEpoch>VALUE</swDataEpoch>\n    <trajectories>\n        <trajBasis>VALUE</trajBasis>\n        <trajId>VALUE</trajId>\n        <sectionNumber>VALUE</sectionNumber>\n        <messageId>VALUE</messageId>\n        <propagator>VALUE</propagator>\n        <trajComments>VALUE</trajComments>\n        <orbRevNum>VALUE</orbRevNum>\n        <idOcmTraj>VALUE</idOcmTraj>\n        <trajUnits>VALUE</trajUnits>\n        <orbAveraging>VALUE</orbAveraging>\n        <useableStartTime>VALUE</useableStartTime>\n        <interpolation>VALUE</interpolation>\n        <useableStopTime>VALUE</useableStopTime>\n        <trajType>VALUE</trajType>\n        <orbRevNumBasis>VALUE</orbRevNumBasis>\n        <trajPrevId>VALUE</trajPrevId>\n        <trajBasisId>VALUE</trajBasisId>\n        <trajRefFrame>VALUE</trajRefFrame>\n        <trajValues>VALUE</trajValues>\n        <trajFrameEpoch>VALUE</trajFrameEpoch>\n        <trajNextId>VALUE</trajNextId>\n        <centerName>VALUE</centerName>\n        <interpolationDegree>VALUE</interpolationDegree>\n    </trajectories>\n    <areaAlongOebMin>VALUE</areaAlongOebMin>\n    <ccsdsOcmVersion>VALUE</ccsdsOcmVersion>\n    <originator>VALUE</originator>\n    <sclkOffsetAtEpoch>VALUE</sclkOffsetAtEpoch>\n    <odEpoch>VALUE</odEpoch>\n    <sclkSecPerSiSec>VALUE</sclkSecPerSiSec>\n    <timeSystem>VALUE</timeSystem>\n    <actualOdSpan>VALUE</actualOdSpan>\n    <fixedF10P7>VALUE</fixedF10P7>\n    <attKnowledge>VALUE</attKnowledge>\n    <shadowBodies>VALUE</shadowBodies>\n    <odMaxPredEigMAJ>VALUE</odMaxPredEigMAJ>\n    <stopTime>VALUE</stopTime>\n    <maneuvers>VALUE</maneuvers>\n    <owner>VALUE</owner>\n    <odId>VALUE</odId>\n    <reflectance>VALUE</reflectance>\n    <gm>VALUE</gm>\n    <areaMinForPc>VALUE</areaMinForPc>\n    <obsAvailable>VALUE</obsAvailable>\n    <maxObsGap>VALUE</maxObsGap>\n    <tracksAvailable>VALUE</tracksAvailable>\n    <sensors>VALUE</sensors>\n    <albedoGridSize>VALUE</albedoGridSize>\n    <areaAlongOebMax>VALUE</areaAlongOebMax>\n    <objectName>VALUE</objectName>\n    <fixedS10P7Mean>VALUE</fixedS10P7Mean>\n    <vmApparent>VALUE</vmApparent>\n    <dvRemaining>VALUE</dvRemaining>\n    <techEmail>VALUE</techEmail>\n</ocm>\n"}}}}},"400":{"description":"Invalid query parameters","content":{"application/json":{"schema":{"type":"string","example":{"error":"Query Parameters ['foo'] are not part of the OCM query schema."}}}}}},"security":[{"Authorization":[]}]}},"/bulkdata/ocm/v1/stream":{"get":{"tags":["ocm-fetch-controller"],"summary":"Retrieve OCMs from cloud storage.","description":"Retrieve one or more TraCSS V1 OCMs from TRACSS cloud storage.","operationId":"findV1OcmStream","parameters":[{"name":"Authorization","in":"header","description":"Authorization token to retrieve the TraCSS CDM.","required":true,"schema":{"type":"string"},"example":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJpZF..."},{"name":"constellation","in":"query","required":false,"schema":{"type":"string"}},{"name":"createdBy","in":"query","description":"Filename of the file that created the OCM.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2) , Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"some_ephem.ocm"},{"name":"creationDate","in":"query","description":"Creation Date of the OCM. A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value) and Between (Value1...Value2) (smaller value first)","required":false,"schema":{"type":"string"},"example":"2024-09-04T18:37:01Z"},{"name":"messageId","in":"query","description":"Message Id of the OCM. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2) , Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"000043928_conj_000054603_2024329195621"},{"name":"objectDesignator","in":"query","description":"The designator for OCM object.A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2), Between (Value1...Value2) (smaller value first), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":12345},{"name":"operator","in":"query","description":"Name of operator.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2) , Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"some_user"},{"name":"owner","in":"query","description":"Name of the object owner.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2) , Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"some_user"},{"name":"startTime","in":"query","required":false,"schema":{"type":"string"}},{"name":"stopTime","in":"query","required":false,"schema":{"type":"string"}},{"name":"trajBasis","in":"query","required":false,"schema":{"type":"string"}},{"name":"techOrg","in":"query","required":false,"schema":{"type":"string"}},{"name":"techPoc","in":"query","required":false,"schema":{"type":"string"}},{"name":"size","in":"query","description":"Number of results to return.  Default of 0 means return all possible results.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":10},{"name":"page","in":"query","description":"Page number for the queried OCM(s), indexed by 0 (first page). Default is 0","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":1},{"name":"headersOnly","in":"query","description":"Return a reduced object. works with filters messageId, creationDate, objectDesignator, operator","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"format","in":"query","required":false,"schema":{"type":"string","default":"JSON"}}],"responses":{"200":{"description":"NDJSON Stream for V1 OCMs","content":{"text/plain":{"schema":{"type":"string","example":"CCSDS_OCM_VERS = VALUE\nCLASSIFICATION = VALUE\nCREATION_DATE = VALUE\nORIGINATOR = VALUE\nMESSAGE_ID = VALUE\n\nMETA_START\nOBJECT_NAME = VALUE\nINTERNATIONAL_DESIGNATOR = VALUE\nCATALOG_NAME = VALUE\nOBJECT_DESIGNATOR = VALUE\n\nORIGINATOR_POC = VALUE\nORIGINATOR_POSITION = VALUE\nORIGINATOR_PHONE = VALUE\nORIGINATOR_EMAIL = VALUE\nORIGINATOR_ADDRESS = VALUE\n\nTECH_ORG = VALUE\nTECH_POC = VALUE\nTECH_POSITION = VALUE\nTECH_PHONE = VALUE\nTECH_EMAIL = VALUE\nTECH_ADDRESS = VALUE\n\nOPERATOR = VALUE\nOWNER = VALUE\nCOUNTRY = VALUE\nCONSTELLATION = VALUE\nOBJECT_TYPE = VALUE\n\nTIME_SYSTEM = VALUE\nEPOCH_TZERO = VALUE\nORBIT_CATEGORY = VALUE\nOCM_DATA_ELEMENTS = VALUE\nSTART_TIME = VALUE\nSTOP_TIME = VALUE\nMETA_STOP\n\nTRAJ_START\nTRAJ_ID = VALUE\nTRAJ_BASIS = VALUE\nINTERPOLATION = VALUE\nINTERPOLATION_DEGREE = VALUE\nCENTER_NAME = VALUE\nTRAJ_REF_FRAME = VALUE\nUSEABLE_START_TIME = VALUE\nUSEABLE_STOP_TIME = VALUE\nTRAJ_TYPE = VALUE\nTRAJ_UNITS = VALUE\nVALUE\nTRAJ_STOP\n\nPHYS_START\nDRAG_CONST_AREA = VALUE\nDRAG_COEFF_NOM = VALUE\nWET_MASS = VALUE\nAREA_TYP_FOR_PC = VALUE\nRCS = VALUE\nRCS_MIN = VALUE\nRCS_MAX = VALUE\nSRP_CONST_AREA = VALUE\nSOLAR_RAD_COEFF = VALUE\nVM_ABSOLUTE = VALUE\nVM_APPARENT_MIN = VALUE\nVM_APPARENT = VALUE\nVM_APPARENT_MAX = VALUE\nREFLECTANCE = VALUE\nPHYS_STOP\n\nPERT_START\nATMOSPHERIC_MODEL = VALUE\nGRAVITY_MODEL = VALUE\nOCEAN_TIDES_MODEL = VALUE\nSOLID_TIDES_MODEL = VALUE\nPERT_STOP\n\nOD_START\nOD_ID = VALUE\nOD_METHOD = VALUE\nOD_EPOCH = VALUE\nDAYS_SINCE_FIRST_OBS = VALUE\nDAYS_SINCE_LAST_OBS = VALUE\nOBS_USED = VALUE\nTRACKS_USED = VALUE\nSOLVE_N = VALUE\nSOLVE_STATES = VALUE\nOD_STOP\n\nUSER_START\nUSER_STOP\nCCSDS_OCM_VERS = VALUE\nCLASSIFICATION = VALUE\nCREATION_DATE = VALUE\nORIGINATOR = VALUE\nMESSAGE_ID = VALUE\n\nMETA_START\nOBJECT_NAME = VALUE\nINTERNATIONAL_DESIGNATOR = VALUE\nCATALOG_NAME = VALUE\nOBJECT_DESIGNATOR = VALUE\n\nORIGINATOR_POC = VALUE\nORIGINATOR_POSITION = VALUE\nORIGINATOR_PHONE = VALUE\nORIGINATOR_EMAIL = VALUE\nORIGINATOR_ADDRESS = VALUE\n\nTECH_ORG = VALUE\nTECH_POC = VALUE\nTECH_POSITION = VALUE\nTECH_PHONE = VALUE\nTECH_EMAIL = VALUE\nTECH_ADDRESS = VALUE\n\nOPERATOR = VALUE\nOWNER = VALUE\nCOUNTRY = VALUE\nCONSTELLATION = VALUE\nOBJECT_TYPE = VALUE\n\nTIME_SYSTEM = VALUE\nEPOCH_TZERO = VALUE\nORBIT_CATEGORY = VALUE\nOCM_DATA_ELEMENTS = VALUE\nSTART_TIME = VALUE\nSTOP_TIME = VALUE\nMETA_STOP\n\nTRAJ_START\nTRAJ_ID = VALUE\nTRAJ_BASIS = VALUE\nINTERPOLATION = VALUE\nINTERPOLATION_DEGREE = VALUE\nCENTER_NAME = VALUE\nTRAJ_REF_FRAME = VALUE\nUSEABLE_START_TIME = VALUE\nUSEABLE_STOP_TIME = VALUE\nTRAJ_TYPE = VALUE\nTRAJ_UNITS = VALUE\nVALUE\nTRAJ_STOP\n\nPHYS_START\nDRAG_CONST_AREA = VALUE\nDRAG_COEFF_NOM = VALUE\nWET_MASS = VALUE\nAREA_TYP_FOR_PC = VALUE\nRCS = VALUE\nRCS_MIN = VALUE\nRCS_MAX = VALUE\nSRP_CONST_AREA = VALUE\nSOLAR_RAD_COEFF = VALUE\nVM_ABSOLUTE = VALUE\nVM_APPARENT_MIN = VALUE\nVM_APPARENT = VALUE\nVM_APPARENT_MAX = VALUE\nREFLECTANCE = VALUE\nPHYS_STOP\n\nPERT_START\nATMOSPHERIC_MODEL = VALUE\nGRAVITY_MODEL = VALUE\nOCEAN_TIDES_MODEL = VALUE\nSOLID_TIDES_MODEL = VALUE\nPERT_STOP\n\nOD_START\nOD_ID = VALUE\nOD_METHOD = VALUE\nOD_EPOCH = VALUE\nDAYS_SINCE_FIRST_OBS = VALUE\nDAYS_SINCE_LAST_OBS = VALUE\nOBS_USED = VALUE\nTRACKS_USED = VALUE\nSOLVE_N = VALUE\nSOLVE_STATES = VALUE\nOD_STOP\n\nUSER_START\nUSER_STOP"}},"application/x-ndjson":{"schema":{"type":"object","properties":{"headersOnly":{"type":"string","example":{"messageId":"VALUE","creationDate":"VALUE","objectDesignator":"VALUE","techOrg":"VALUE","techPoc":"VALUE","operator":"VALUE","owner":"VALUE","constellation":"VALUE","startTime":"VALUE","stopTime":"VALUE"}},"default":{"type":"string","example":{"id":"VALUE","version":"VALUE","header":{"CLASSIFICATION":"VALUE","CREATION_DATE":"VALUE","ORIGINATOR":"VALUE","MESSAGE_ID":"VALUE"},"body":{"segment":{"metadata":{"OBJECT_DESIGNATOR":"VALUE","ALTERNATE_NAMES":"VALUE","OPERATOR":"VALUE","OWNER":"VALUE","TIME_SYSTEM":"VALUE","EPOCH_TZERO":"VALUE","OPS_STATUS":"VALUE","ORBIT_CATEGORY":"VALUE","OCM_DATA_ELEMENTS":"VALUE","SCLK_OFFSET_AT_EPOCH":{"units":"VALUE"},"SCLK_SEC_PER_SI_SEC":{"units":"VALUE"},"START_TIME":"VALUE","STOP_TIME":"VALUE","TIME_SPAN":{"units":"VALUE"},"TAIMUTC_AT_TZERO":{"units":"VALUE"},"NEXT_LEAP_TAIMUTC":{"units":"VALUE"},"UT1MUTC_AT_TZERO":{"units":"VALUE"}},"data":{"traj":{"TRAJ_ID":"VALUE","TRAJ_BASIS":"VALUE","TRAJ_BASIS_ID":"VALUE","CENTER_NAME":"VALUE","TRAJ_REF_FRAME":"VALUE","USEABLE_START_TIME":"VALUE","USEABLE_STOP_TIME":"VALUE","TRAJ_TYPE":"VALUE","TRAJ_UNITS":"VALUE","trajLine":["VALUE"]},"phys":{"DRAG_CONST_AREA":{"units":"VALUE"},"DRAG_UNCERTAINTY":"VALUE","INITIAL_WET_MASS":{"units":"VALUE"},"WET_MASS":{"units":"VALUE"},"DRY_MASS":{"units":"VALUE"},"OEB_MAX":{"units":"VALUE"},"OEB_INT":{"units":"VALUE"},"OEB_MIN":{"units":"VALUE"},"AREA_ALONG_OEB_MAX":{"units":"VALUE"},"AREA_ALONG_OEB_INT":{"units":"VALUE"},"AREA_ALONG_OEB_MIN":{"units":"VALUE"},"AREA_MIN_FOR_PC":{"units":"VALUE"},"AREA_MAX_FOR_PC":{"units":"VALUE"},"AREA_TYP_FOR_PC":{"units":"VALUE"},"RCS":{"units":"VALUE"},"RCS_MIN":{"units":"VALUE"},"RCS_MAX":{"units":"VALUE"},"SRP_CONST_AREA":{"units":"VALUE"},"SOLAR_RAD_UNCERTAINTY":"VALUE","ATT_KNOWLEDGE":{"units":"VALUE"},"ATT_CONTROL":{"units":"VALUE"},"ATT_POINTING":{"units":"VALUE"},"AVG_MANEUVER_FREQ":{"units":"VALUE"},"MAX_THRUST":{"units":"VALUE"},"DV_BOL":{"units":"VALUE"},"DV_REMAINING":{"units":"VALUE"},"IXX":{"units":"VALUE"},"IYY":{"units":"VALUE"},"IZZ":{"units":"VALUE"},"IXY":{"units":"VALUE"},"IXZ":{"units":"VALUE"},"IYZ":{"units":"VALUE"}},"cov":{"COV_ID":"VALUE","COV_BASIS":"VALUE","COV_REF_FRAME":"VALUE","COV_CONFIDENCE":"VALUE","COV_TYPE":"VALUE","COV_ORDERING":"VALUE","COV_UNITS":"VALUE","covLine":["VALUE"]},"pert":{"EQUATORIAL_RADIUS":{"units":"VALUE"},"GM":"VALUE","N_BODY_PERTURBATIONS":"VALUE","CENTRAL_BODY_ROTATION":{"units":"VALUE"},"FIXED_GEOMAG_KP":{"units":"VALUE"},"FIXED_GEOMAG_AP":{"units":"VALUE"},"FIXED_GEOMAG_DST":{"units":"VALUE"},"FIXED_F10P7":"VALUE","FIXED_F10P7_MEAN":"VALUE","FIXED_M10P7":"VALUE","FIXED_M10P7_MEAN":"VALUE","FIXED_S10P7":"VALUE","FIXED_S10P7_MEAN":"VALUE","FIXED_Y10P7":"VALUE","FIXED_Y10P7_MEAN":"VALUE"},"od":{"DAYS_SINCE_FIRST_OBS":{"units":"VALUE"},"DAYS_SINCE_LAST_OBS":{"units":"VALUE"},"RECOMMENDED_OD_SPAN":{"units":"VALUE"},"ACTUAL_OD_SPAN":{"units":"VALUE"},"MAXIMUM_OBS_GAP":{"units":"VALUE"},"OD_EPOCH_EIGMAJ":{"units":"VALUE"},"OD_EPOCH_EIGINT":{"units":"VALUE"},"OD_EPOCH_EIGMIN":{"units":"VALUE"},"OD_MAX_PRED_EIGMAJ":{"units":"VALUE"},"OD_MIN_PRED_EIGMIN":{"units":"VALUE"},"OD_CONFIDENCE":"VALUE","SEDR":{"units":"VALUE"}},"user":"VALUE"}}}}}}}},"application/xml":{"examples":{"Example XML V2 CDM":{"description":"Example XML V2 CDM","value":"<ocm id=\"VALUE\" version=\"VALUE\">\n    <header>\n        <CLASSIFICATION>VALUE</CLASSIFICATION>\n        <CREATION_DATE>VALUE</CREATION_DATE>\n        <ORIGINATOR>VALUE</ORIGINATOR>\n        <MESSAGE_ID>VALUE</MESSAGE_ID>\n    </header>\n    <body>\n        <segment>\n            <metadata>\n                <OBJECT_DESIGNATOR>VALUE</OBJECT_DESIGNATOR>\n                <ALTERNATE_NAMES>VALUE</ALTERNATE_NAMES>\n                <OPERATOR>VALUE</OPERATOR>\n                <OWNER>VALUE</OWNER>\n                <TIME_SYSTEM>VALUE</TIME_SYSTEM>\n                <EPOCH_TZERO>VALUE</EPOCH_TZERO>\n                <OPS_STATUS>VALUE</OPS_STATUS>\n                <ORBIT_CATEGORY>VALUE</ORBIT_CATEGORY>\n                <OCM_DATA_ELEMENTS>VALUE</OCM_DATA_ELEMENTS>\n                <SCLK_OFFSET_AT_EPOCH units=\"VALUE\"/>\n                <SCLK_SEC_PER_SI_SEC units=\"VALUE\"/>\n                <START_TIME>VALUE</START_TIME>\n                <STOP_TIME>VALUE</STOP_TIME>\n                <TIME_SPAN units=\"VALUE\"/>\n                <TAIMUTC_AT_TZERO units=\"VALUE\"/>\n                <NEXT_LEAP_TAIMUTC units=\"VALUE\"/>\n                <UT1MUTC_AT_TZERO units=\"VALUE\"/>\n            </metadata>\n            <data>\n                <traj>\n                    <TRAJ_ID>VALUE</TRAJ_ID>\n                    <TRAJ_BASIS>VALUE</TRAJ_BASIS>\n                    <TRAJ_BASIS_ID>VALUE</TRAJ_BASIS_ID>\n                    <CENTER_NAME>VALUE</CENTER_NAME>\n                    <TRAJ_REF_FRAME>VALUE</TRAJ_REF_FRAME>\n                    <USEABLE_START_TIME>VALUE</USEABLE_START_TIME>\n                    <USEABLE_STOP_TIME>VALUE</USEABLE_STOP_TIME>\n                    <TRAJ_TYPE>VALUE</TRAJ_TYPE>\n                    <TRAJ_UNITS>VALUE</TRAJ_UNITS>\n                    <trajLine>VALUE</trajLine>\n                </traj>\n                <phys>\n                    <DRAG_CONST_AREA units=\"VALUE\"/>\n                    <DRAG_UNCERTAINTY>VALUE</DRAG_UNCERTAINTY>\n                    <INITIAL_WET_MASS units=\"VALUE\"/>\n                    <WET_MASS units=\"VALUE\"/>\n                    <DRY_MASS units=\"VALUE\"/>\n                    <OEB_MAX units=\"VALUE\"/>\n                    <OEB_INT units=\"VALUE\"/>\n                    <OEB_MIN units=\"VALUE\"/>\n                    <AREA_ALONG_OEB_MAX units=\"VALUE\"/>\n                    <AREA_ALONG_OEB_INT units=\"VALUE\"/>\n                    <AREA_ALONG_OEB_MIN units=\"VALUE\"/>\n                    <AREA_MIN_FOR_PC units=\"VALUE\"/>\n                    <AREA_MAX_FOR_PC units=\"VALUE\"/>\n                    <AREA_TYP_FOR_PC units=\"VALUE\"/>\n                    <RCS units=\"VALUE\"/>\n                    <RCS_MIN units=\"VALUE\"/>\n                    <RCS_MAX units=\"VALUE\"/>\n                    <SRP_CONST_AREA units=\"VALUE\"/>\n                    <SOLAR_RAD_UNCERTAINTY>VALUE</SOLAR_RAD_UNCERTAINTY>\n                    <ATT_KNOWLEDGE units=\"VALUE\"/>\n                    <ATT_CONTROL units=\"VALUE\"/>\n                    <ATT_POINTING units=\"VALUE\"/>\n                    <AVG_MANEUVER_FREQ units=\"VALUE\"/>\n                    <MAX_THRUST units=\"VALUE\"/>\n                    <DV_BOL units=\"VALUE\"/>\n                    <DV_REMAINING units=\"VALUE\"/>\n                    <IXX units=\"VALUE\"/>\n                    <IYY units=\"VALUE\"/>\n                    <IZZ units=\"VALUE\"/>\n                    <IXY units=\"VALUE\"/>\n                    <IXZ units=\"VALUE\"/>\n                    <IYZ units=\"VALUE\"/>\n                </phys>\n                <cov>\n                    <COV_ID>VALUE</COV_ID>\n                    <COV_BASIS>VALUE</COV_BASIS>\n                    <COV_REF_FRAME>VALUE</COV_REF_FRAME>\n                    <COV_CONFIDENCE>VALUE</COV_CONFIDENCE>\n                    <COV_TYPE>VALUE</COV_TYPE>\n                    <COV_ORDERING>VALUE</COV_ORDERING>\n                    <COV_UNITS>VALUE</COV_UNITS>\n                    <covLine>VALUE</covLine>\n                </cov>\n                <pert>\n                    <EQUATORIAL_RADIUS units=\"VALUE\"/>\n                    <GM>VALUE</GM>\n                    <N_BODY_PERTURBATIONS>VALUE</N_BODY_PERTURBATIONS>\n                    <CENTRAL_BODY_ROTATION units=\"VALUE\"/>\n                    <FIXED_GEOMAG_KP units=\"VALUE\"/>\n                    <FIXED_GEOMAG_AP units=\"VALUE\"/>\n                    <FIXED_GEOMAG_DST units=\"VALUE\"/>\n                    <FIXED_F10P7>VALUE</FIXED_F10P7>\n                    <FIXED_F10P7_MEAN>VALUE</FIXED_F10P7_MEAN>\n                    <FIXED_M10P7>VALUE</FIXED_M10P7>\n                    <FIXED_M10P7_MEAN>VALUE</FIXED_M10P7_MEAN>\n                    <FIXED_S10P7>VALUE</FIXED_S10P7>\n                    <FIXED_S10P7_MEAN>VALUE</FIXED_S10P7_MEAN>\n                    <FIXED_Y10P7>VALUE</FIXED_Y10P7>\n                    <FIXED_Y10P7_MEAN>VALUE</FIXED_Y10P7_MEAN>\n                </pert>\n                <od>\n                    <DAYS_SINCE_FIRST_OBS units=\"VALUE\"/>\n                    <DAYS_SINCE_LAST_OBS units=\"VALUE\"/>\n                    <RECOMMENDED_OD_SPAN units=\"VALUE\"/>\n                    <ACTUAL_OD_SPAN units=\"VALUE\"/>\n                    <MAXIMUM_OBS_GAP units=\"VALUE\"/>\n                    <OD_EPOCH_EIGMAJ units=\"VALUE\"/>\n                    <OD_EPOCH_EIGINT units=\"VALUE\"/>\n                    <OD_EPOCH_EIGMIN units=\"VALUE\"/>\n                    <OD_MAX_PRED_EIGMAJ units=\"VALUE\"/>\n                    <OD_MIN_PRED_EIGMIN units=\"VALUE\"/>\n                    <OD_CONFIDENCE>VALUE</OD_CONFIDENCE>\n                    <SEDR units=\"VALUE\"/>\n                </od>\n                <user>VALUE</user>\n            </data>\n        </segment>\n    </body>\n</ocm>\n<ocm id=\"VALUE\" version=\"VALUE\">\n    <header>\n        <CLASSIFICATION>VALUE</CLASSIFICATION>\n        <CREATION_DATE>VALUE</CREATION_DATE>\n        <ORIGINATOR>VALUE</ORIGINATOR>\n        <MESSAGE_ID>VALUE</MESSAGE_ID>\n    </header>\n    <body>\n        <segment>\n            <metadata>\n                <OBJECT_DESIGNATOR>VALUE</OBJECT_DESIGNATOR>\n                <ALTERNATE_NAMES>VALUE</ALTERNATE_NAMES>\n                <OPERATOR>VALUE</OPERATOR>\n                <OWNER>VALUE</OWNER>\n                <TIME_SYSTEM>VALUE</TIME_SYSTEM>\n                <EPOCH_TZERO>VALUE</EPOCH_TZERO>\n                <OPS_STATUS>VALUE</OPS_STATUS>\n                <ORBIT_CATEGORY>VALUE</ORBIT_CATEGORY>\n                <OCM_DATA_ELEMENTS>VALUE</OCM_DATA_ELEMENTS>\n                <SCLK_OFFSET_AT_EPOCH units=\"VALUE\"/>\n                <SCLK_SEC_PER_SI_SEC units=\"VALUE\"/>\n                <START_TIME>VALUE</START_TIME>\n                <STOP_TIME>VALUE</STOP_TIME>\n                <TIME_SPAN units=\"VALUE\"/>\n                <TAIMUTC_AT_TZERO units=\"VALUE\"/>\n                <NEXT_LEAP_TAIMUTC units=\"VALUE\"/>\n                <UT1MUTC_AT_TZERO units=\"VALUE\"/>\n            </metadata>\n            <data>\n                <traj>\n                    <TRAJ_ID>VALUE</TRAJ_ID>\n                    <TRAJ_BASIS>VALUE</TRAJ_BASIS>\n                    <TRAJ_BASIS_ID>VALUE</TRAJ_BASIS_ID>\n                    <CENTER_NAME>VALUE</CENTER_NAME>\n                    <TRAJ_REF_FRAME>VALUE</TRAJ_REF_FRAME>\n                    <USEABLE_START_TIME>VALUE</USEABLE_START_TIME>\n                    <USEABLE_STOP_TIME>VALUE</USEABLE_STOP_TIME>\n                    <TRAJ_TYPE>VALUE</TRAJ_TYPE>\n                    <TRAJ_UNITS>VALUE</TRAJ_UNITS>\n                    <trajLine>VALUE</trajLine>\n                </traj>\n                <phys>\n                    <DRAG_CONST_AREA units=\"VALUE\"/>\n                    <DRAG_UNCERTAINTY>VALUE</DRAG_UNCERTAINTY>\n                    <INITIAL_WET_MASS units=\"VALUE\"/>\n                    <WET_MASS units=\"VALUE\"/>\n                    <DRY_MASS units=\"VALUE\"/>\n                    <OEB_MAX units=\"VALUE\"/>\n                    <OEB_INT units=\"VALUE\"/>\n                    <OEB_MIN units=\"VALUE\"/>\n                    <AREA_ALONG_OEB_MAX units=\"VALUE\"/>\n                    <AREA_ALONG_OEB_INT units=\"VALUE\"/>\n                    <AREA_ALONG_OEB_MIN units=\"VALUE\"/>\n                    <AREA_MIN_FOR_PC units=\"VALUE\"/>\n                    <AREA_MAX_FOR_PC units=\"VALUE\"/>\n                    <AREA_TYP_FOR_PC units=\"VALUE\"/>\n                    <RCS units=\"VALUE\"/>\n                    <RCS_MIN units=\"VALUE\"/>\n                    <RCS_MAX units=\"VALUE\"/>\n                    <SRP_CONST_AREA units=\"VALUE\"/>\n                    <SOLAR_RAD_UNCERTAINTY>VALUE</SOLAR_RAD_UNCERTAINTY>\n                    <ATT_KNOWLEDGE units=\"VALUE\"/>\n                    <ATT_CONTROL units=\"VALUE\"/>\n                    <ATT_POINTING units=\"VALUE\"/>\n                    <AVG_MANEUVER_FREQ units=\"VALUE\"/>\n                    <MAX_THRUST units=\"VALUE\"/>\n                    <DV_BOL units=\"VALUE\"/>\n                    <DV_REMAINING units=\"VALUE\"/>\n                    <IXX units=\"VALUE\"/>\n                    <IYY units=\"VALUE\"/>\n                    <IZZ units=\"VALUE\"/>\n                    <IXY units=\"VALUE\"/>\n                    <IXZ units=\"VALUE\"/>\n                    <IYZ units=\"VALUE\"/>\n                </phys>\n                <cov>\n                    <COV_ID>VALUE</COV_ID>\n                    <COV_BASIS>VALUE</COV_BASIS>\n                    <COV_REF_FRAME>VALUE</COV_REF_FRAME>\n                    <COV_CONFIDENCE>VALUE</COV_CONFIDENCE>\n                    <COV_TYPE>VALUE</COV_TYPE>\n                    <COV_ORDERING>VALUE</COV_ORDERING>\n                    <COV_UNITS>VALUE</COV_UNITS>\n                    <covLine>VALUE</covLine>\n                </cov>\n                <pert>\n                    <EQUATORIAL_RADIUS units=\"VALUE\"/>\n                    <GM>VALUE</GM>\n                    <N_BODY_PERTURBATIONS>VALUE</N_BODY_PERTURBATIONS>\n                    <CENTRAL_BODY_ROTATION units=\"VALUE\"/>\n                    <FIXED_GEOMAG_KP units=\"VALUE\"/>\n                    <FIXED_GEOMAG_AP units=\"VALUE\"/>\n                    <FIXED_GEOMAG_DST units=\"VALUE\"/>\n                    <FIXED_F10P7>VALUE</FIXED_F10P7>\n                    <FIXED_F10P7_MEAN>VALUE</FIXED_F10P7_MEAN>\n                    <FIXED_M10P7>VALUE</FIXED_M10P7>\n                    <FIXED_M10P7_MEAN>VALUE</FIXED_M10P7_MEAN>\n                    <FIXED_S10P7>VALUE</FIXED_S10P7>\n                    <FIXED_S10P7_MEAN>VALUE</FIXED_S10P7_MEAN>\n                    <FIXED_Y10P7>VALUE</FIXED_Y10P7>\n                    <FIXED_Y10P7_MEAN>VALUE</FIXED_Y10P7_MEAN>\n                </pert>\n                <od>\n                    <DAYS_SINCE_FIRST_OBS units=\"VALUE\"/>\n                    <DAYS_SINCE_LAST_OBS units=\"VALUE\"/>\n                    <RECOMMENDED_OD_SPAN units=\"VALUE\"/>\n                    <ACTUAL_OD_SPAN units=\"VALUE\"/>\n                    <MAXIMUM_OBS_GAP units=\"VALUE\"/>\n                    <OD_EPOCH_EIGMAJ units=\"VALUE\"/>\n                    <OD_EPOCH_EIGINT units=\"VALUE\"/>\n                    <OD_EPOCH_EIGMIN units=\"VALUE\"/>\n                    <OD_MAX_PRED_EIGMAJ units=\"VALUE\"/>\n                    <OD_MIN_PRED_EIGMIN units=\"VALUE\"/>\n                    <OD_CONFIDENCE>VALUE</OD_CONFIDENCE>\n                    <SEDR units=\"VALUE\"/>\n                </od>\n                <user>VALUE</user>\n            </data>\n        </segment>\n    </body>\n</ocm>\n"}}}}},"400":{"description":"Invalid query parameters","content":{"application/json":{"schema":{"type":"string","example":{"error":"Query Parameters ['foo'] are not part of the OCM query schema."}}}}},"401":{"description":"Unauthorized - The provided 'Authorization' header token is missing, invalid, or expired.","content":{"text/plain":{}}}},"security":[{"Authorization":[]}]}},"/bulkdata/cdm/v2/stream":{"get":{"tags":["cdm-fetch-controller"],"summary":"Retrieve CDMs from S3 bulk data.","description":"Retrieve one or more TraCSS V2 CDMs from TRACSS cloud storage.","operationId":"findV2CDMsStream","parameters":[{"name":"Authorization","in":"header","description":"Authorization token to retrieve the TraCSS CDM.","required":true,"schema":{"type":"string"},"example":"eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJpZF..."},{"name":"messageId","in":"query","description":"Message Id (generated) from ASW that processed the CDM during super combo processing.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"000043928_conj_000054603_2024329195621"},{"name":"correlationId","in":"query","description":"Correlation Id (UUID) of the TraCSS CDM.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":38012345},{"name":"tca","in":"query","description":"TCA (Time of Closest Approach).A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value),Less Than or Equal (<=Value), Not Equal (<>Value) and Between (Value1...Value2) (smaller value first)","required":false,"schema":{"type":"string"},"example":"2024-314T07:41:39.411"},{"name":"creationDate","in":"query","description":"Creation Date of the CDM.A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value),Less Than or Equal (<=Value), Not Equal (<>Value) and Between (Value1...Value2) (smaller value first)","required":false,"schema":{"type":"string"},"example":"2024-09-04T18:37:01Z"},{"name":"messageFor","in":"query","description":"Name of Satellite whom the TraCSS cdm is for.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"IRIDIUM 161"},{"name":"screeningOption","in":"query","description":"What was used during the screening process.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"Covariance"},{"name":"missDistance","in":"query","description":"The distance (in m) that object1 and object2 missed by. A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2) , Between (Value1...Value2) (smaller value first)","required":false,"schema":{"type":"string"},"example":1000},{"name":"collisionProbability","in":"query","description":"The probability of object1 and object2 having a collision.A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2) , Between (Value1...Value2) (smaller value first)","required":false,"schema":{"type":"string"},"example":2.982641E-10},{"name":"screenVolumeShape","in":"query","description":"The shape of the screen volume for object1A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"Box, Ellipsoid, Deep Space"},{"name":"object1Type","in":"query","description":"The object type of object1A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"Payload"},{"name":"object1ObjectDesignator","in":"query","description":"The designator for object1A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":12345},{"name":"object1InternationalDesignator","in":"query","description":"The international designator for object1A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"2019-002A"},{"name":"object1OperatorOrganization","in":"query","description":"The operator organization for object1A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"Iridium"},{"name":"object1EphemerisName","in":"query","description":"The ephemeris name for object1A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"NONE"},{"name":"object2Type","in":"query","description":"The object type of object2A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"Payload"},{"name":"object2ObjectDesignator","in":"query","description":"The designator for object2A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":12345},{"name":"object2InternationalDesignator","in":"query","description":"The international designator for object2A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"2019-002A"},{"name":"object2OperatorOrganization","in":"query","description":"The operator organization for object2A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"Iridium"},{"name":"object2EphemerisName","in":"query","description":"The ephemeris name for object2A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)","required":false,"schema":{"type":"string"},"example":"NONE"},{"name":"headersOnly","in":"query","description":"Return a reduced object. The filters that work with headersOnly are: correlationId, creationDate, messageId, tca, missDistance, collisionProbability, object1ObjectDesignator, object2ObjectDesignator","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"size","in":"query","description":"Number of results to return.  Default of 0 means return all possible results.","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":10},{"name":"page","in":"query","description":"Page number for the queried CDM(s), indexed by 0 (first page). Default is 0","required":false,"schema":{"type":"integer","format":"int32","default":0},"example":1},{"name":"format","in":"query","required":false,"schema":{"type":"string","default":"JSON"}}],"responses":{"200":{"description":"NDJSON Stream for V2 CDMs","content":{"text/plain":{"schema":{"type":"string","example":"CCSDS_CDM_VERS                           = VALUE\nCLASSIFICATION                           = VALUE\nCREATION_DATE                            = VALUE\nORIGINATOR                               = VALUE\nMESSAGE_FOR                              = VALUE\nMESSAGE_ID                               = VALUE\nCONJUNCTION_ID                           = VALUE\nTCA                                      = VALUE\nMISS_DISTANCE                            = VALUE                               [m]\nMAHALANOBIS_DISTANCE                     = VALUE\nRELATIVE_SPEED                           = VALUE                              [m/s]\nRELATIVE_POSITION_R                      = VALUE                              [m]\nRELATIVE_POSITION_T                      = VALUE                              [m]\nRELATIVE_POSITION_N                      = VALUE                              [m]\nRELATIVE_VELOCITY_R                      = VALUE                              [m/s]\nRELATIVE_VELOCITY_T                      = VALUE                              [m/s]\nRELATIVE_VELOCITY_N                      = VALUE                              [m/s]\nAPPROACH_ANGLE                           = VALUE\nSTART_SCREEN_PERIOD                      = VALUE\nSTOP_SCREEN_PERIOD                       = VALUE\nSCREEN_VOLUME_FRAME                      = VALUE\nSCREEN_VOLUME_SHAPE                      = VALUE\nSCREEN_VOLUME_X                          = VALUE                               [km]\nSCREEN_VOLUME_Y                          = VALUE                               [km]\nSCREEN_VOLUME_Z                          = VALUE                               [km]\nSCREEN_PC_THRESHOLD                      = VALUE\nCOLLISION_PROBABILITY                    = VALUE\nCOLLISION_PROBABILITY_METHOD             = VALUE\nCOLLISION_MAX_PROBABILITY                = VALUE\nCOLLISION_MAX_PC_METHOD                  = VALUE\nOBJECT                                   = VALUE\nOBJECT_DESIGNATOR                        = VALUE\nCATALOG_NAME                             = VALUE\nOBJECT_NAME                              = VALUE\nINTERNATIONAL_DESIGNATOR                 = VALUE\nOBJECT_TYPE                              = VALUE\nOPS_STATUS                               = VALUE\nOPERATOR_ORGANIZATION                    = VALUE\nOPERATOR_PHONE                           = VALUE\nOPERATOR_EMAIL                           = VALUE\nEPHEMERIS_NAME                           = VALUE\nCOVARIANCE_METHOD                        = VALUE\nMANEUVERABLE                             = VALUE\nORBIT_CENTER                             = VALUE\nREF_FRAME                                = VALUE\nGRAVITY_MODEL                            = VALUE\nATMOSPHERIC_MODEL                        = VALUE\nN_BODY_PERTURBATIONS                     = VALUE\nSOLAR_RAD_PRESSURE                       = VALUE\nEARTH_TIDES                              = VALUE\nINTRACK_THRUST                           = VALUE\nTIME_LASTOB_START                        = VALUE\nTIME_LASTOB_END                          = VALUE\nRECOMMENDED_OD_SPAN                      = VALUE                              [d]\nACTUAL_OD_SPAN                           = VALUE                              [d]\nOBS_AVAILABLE                            = VALUE\nOBS_USED                                 = VALUE\nTRACKS_AVAILABLE                         = VALUE\nTRACKS_USED                              = VALUE\nRESIDUALS_ACCEPTED                       = VALUE                              [%]\nWEIGHTED_RMS                             = VALUE\nAREA_PC                                  = VALUE                              [m**2]\nMASS                                     = VALUE\nHBR                                      = VALUE\nCD_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nCR_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nTHRUST_ACCELERATION                      = VALUE                              [m/s**2]\nSEDR                                     = VALUE                              [W/kg]\nAPOAPSIS_ALTITUDE                        = VALUE                              [km]\nPERIAPSIS_ALTITUDE                       = VALUE                              [km]\nINCLINATION                              = VALUE                              [deg]\nX                                        = VALUE                              [km]\nY                                        = VALUE                              [km]\nZ                                        = VALUE                              [km]\nX_DOT                                    = VALUE                              [km/s]\nY_DOT                                    = VALUE                              [km/s]\nZ_DOT                                    = VALUE                              [km/s]\nCR_R                                     = VALUE                              [m**2]\nCT_R                                     = VALUE                              [m**2]\nCT_T                                     = VALUE                              [m**2]\nCN_R                                     = VALUE                              [m**2]\nCN_T                                     = VALUE                              [m**2]\nCN_N                                     = VALUE                              [m**2]\nCRDOT_R                                  = VALUE                              [m**2/s]\nCRDOT_T                                  = VALUE                              [m**2/s]\nCRDOT_N                                  = VALUE                              [m**2/s]\nCRDOT_RDOT                               = VALUE                              [m**2/s**2]\nCTDOT_R                                  = VALUE                              [m**2/s]\nCTDOT_T                                  = VALUE                              [m**2/s]\nCTDOT_N                                  = VALUE                              [m**2/s]\nCTDOT_RDOT                               = VALUE                              [m**2/s**2]\nCTDOT_TDOT                               = VALUE                              [m**2/s**2]\nCNDOT_R                                  = VALUE                              [m**2/s]\nCNDOT_T                                  = VALUE                              [m**2/s]\nCNDOT_N                                  = VALUE                              [m**2/s]\nCNDOT_RDOT                               = VALUE                              [m**2/s**2]\nCNDOT_TDOT                               = VALUE                              [m**2/s**2]\nCNDOT_NDOT                               = VALUE                              [m**2/s**2]\nDENSITY_FORECAST_UNCERTAINTY             = VALUE\nSCREENING_DATA_SOURCE                    = VALUE\nDCP_SENSITIVITY_VECTOR_POSITION          = VALUE [m]\nDCP_SENSITIVITY_VECTOR_VELOCITY          = VALUE [m/sec]\nOBJECT                                   = VALUE\nOBJECT_DESIGNATOR                        = VALUE\nCATALOG_NAME                             = VALUE\nOBJECT_NAME                              = VALUE\nINTERNATIONAL_DESIGNATOR                 = VALUE\nOBJECT_TYPE                              = VALUE\nOPS_STATUS                               = VALUE\nOPERATOR_ORGANIZATION                    = VALUE\nOPERATOR_PHONE                           = VALUE\nOPERATOR_EMAIL                           = VALUE\nEPHEMERIS_NAME                           = VALUE\nCOVARIANCE_METHOD                        = VALUE\nMANEUVERABLE                             = VALUE\nORBIT_CENTER                             = VALUE\nREF_FRAME                                = VALUE\nGRAVITY_MODEL                            = VALUE\nATMOSPHERIC_MODEL                        = VALUE\nN_BODY_PERTURBATIONS                     = VALUE\nSOLAR_RAD_PRESSURE                       = VALUE\nEARTH_TIDES                              = VALUE\nINTRACK_THRUST                           = VALUE\nTIME_LASTOB_START                        = VALUE\nTIME_LASTOB_END                          = VALUE\nRECOMMENDED_OD_SPAN                      = VALUE                              [d]\nACTUAL_OD_SPAN                           = VALUE                              [d]\nOBS_AVAILABLE                            = VALUE\nOBS_USED                                 = VALUE\nTRACKS_AVAILABLE                         = VALUE\nTRACKS_USED                              = VALUE\nRESIDUALS_ACCEPTED                       = VALUE                              [%]\nWEIGHTED_RMS                             = VALUE\nAREA_PC                                  = VALUE                              [m**2]\nMASS                                     = VALUE\nHBR                                      = VALUE\nCD_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nCR_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nTHRUST_ACCELERATION                      = VALUE                              [m/s**2]\nSEDR                                     = VALUE                              [W/kg]\nAPOAPSIS_ALTITUDE                        = VALUE                              [km]\nPERIAPSIS_ALTITUDE                       = VALUE                              [km]\nINCLINATION                              = VALUE                              [deg]\nX                                        = VALUE                              [km]\nY                                        = VALUE                              [km]\nZ                                        = VALUE                              [km]\nX_DOT                                    = VALUE                              [km/s]\nY_DOT                                    = VALUE                              [km/s]\nZ_DOT                                    = VALUE                              [km/s]\nCR_R                                     = VALUE                              [m**2]\nCT_R                                     = VALUE                              [m**2]\nCT_T                                     = VALUE                              [m**2]\nCN_R                                     = VALUE                              [m**2]\nCN_T                                     = VALUE                              [m**2]\nCN_N                                     = VALUE                              [m**2]\nCRDOT_R                                  = VALUE                              [m**2/s]\nCRDOT_T                                  = VALUE                              [m**2/s]\nCRDOT_N                                  = VALUE                              [m**2/s]\nCRDOT_RDOT                               = VALUE                              [m**2/s**2]\nCTDOT_R                                  = VALUE                              [m**2/s]\nCTDOT_T                                  = VALUE                              [m**2/s]\nCTDOT_N                                  = VALUE                              [m**2/s]\nCTDOT_RDOT                               = VALUE                              [m**2/s**2]\nCTDOT_TDOT                               = VALUE                              [m**2/s**2]\nCNDOT_R                                  = VALUE                              [m**2/s]\nCNDOT_T                                  = VALUE                              [m**2/s]\nCNDOT_N                                  = VALUE                              [m**2/s]\nCNDOT_RDOT                               = VALUE                              [m**2/s**2]\nCNDOT_TDOT                               = VALUE                              [m**2/s**2]\nCNDOT_NDOT                               = VALUE                              [m**2/s**2]\nDENSITY_FORECAST_UNCERTAINTY             = VALUE\nSCREENING_DATA_SOURCE                    = VALUE\nDCP_SENSITIVITY_VECTOR_POSITION          = VALUE [m]\nDCP_SENSITIVITY_VECTOR_VELOCITY          = VALUE [m/sec]\nUSER_DEFINED_MEETS_ALERTABLE_CRITERIA    = VALUE\nUSER_DEFINED_RUN_ID                      = VALUE\nUSER_DEFINED_CORRELATION_ID              = VALUE\nUSER_DEFINED_DILUTION_STATUS             = VALUE\nUSER_DEFINED_DILUTION_SIGNIFICANCE       = VALUE\nUSER_DEFINED_ENVIRONMENTAL_IMPACT_FRAGMENTATION       = VALUE\nUSER_DEFINED_FRAGMENTATION_MODEL         = VALUECCSDS_CDM_VERS                           = VALUE\nCLASSIFICATION                           = VALUE\nCREATION_DATE                            = VALUE\nORIGINATOR                               = VALUE\nMESSAGE_FOR                              = VALUE\nMESSAGE_ID                               = VALUE\nCONJUNCTION_ID                           = VALUE\nTCA                                      = VALUE\nMISS_DISTANCE                            = VALUE                               [m]\nMAHALANOBIS_DISTANCE                     = VALUE\nRELATIVE_SPEED                           = VALUE                              [m/s]\nRELATIVE_POSITION_R                      = VALUE                              [m]\nRELATIVE_POSITION_T                      = VALUE                              [m]\nRELATIVE_POSITION_N                      = VALUE                              [m]\nRELATIVE_VELOCITY_R                      = VALUE                              [m/s]\nRELATIVE_VELOCITY_T                      = VALUE                              [m/s]\nRELATIVE_VELOCITY_N                      = VALUE                              [m/s]\nAPPROACH_ANGLE                           = VALUE\nSTART_SCREEN_PERIOD                      = VALUE\nSTOP_SCREEN_PERIOD                       = VALUE\nSCREEN_VOLUME_FRAME                      = VALUE\nSCREEN_VOLUME_SHAPE                      = VALUE\nSCREEN_VOLUME_X                          = VALUE                               [km]\nSCREEN_VOLUME_Y                          = VALUE                               [km]\nSCREEN_VOLUME_Z                          = VALUE                               [km]\nSCREEN_PC_THRESHOLD                      = VALUE\nCOLLISION_PROBABILITY                    = VALUE\nCOLLISION_PROBABILITY_METHOD             = VALUE\nCOLLISION_MAX_PROBABILITY                = VALUE\nCOLLISION_MAX_PC_METHOD                  = VALUE\nOBJECT                                   = VALUE\nOBJECT_DESIGNATOR                        = VALUE\nCATALOG_NAME                             = VALUE\nOBJECT_NAME                              = VALUE\nINTERNATIONAL_DESIGNATOR                 = VALUE\nOBJECT_TYPE                              = VALUE\nOPS_STATUS                               = VALUE\nOPERATOR_ORGANIZATION                    = VALUE\nOPERATOR_PHONE                           = VALUE\nOPERATOR_EMAIL                           = VALUE\nEPHEMERIS_NAME                           = VALUE\nCOVARIANCE_METHOD                        = VALUE\nMANEUVERABLE                             = VALUE\nORBIT_CENTER                             = VALUE\nREF_FRAME                                = VALUE\nGRAVITY_MODEL                            = VALUE\nATMOSPHERIC_MODEL                        = VALUE\nN_BODY_PERTURBATIONS                     = VALUE\nSOLAR_RAD_PRESSURE                       = VALUE\nEARTH_TIDES                              = VALUE\nINTRACK_THRUST                           = VALUE\nTIME_LASTOB_START                        = VALUE\nTIME_LASTOB_END                          = VALUE\nRECOMMENDED_OD_SPAN                      = VALUE                              [d]\nACTUAL_OD_SPAN                           = VALUE                              [d]\nOBS_AVAILABLE                            = VALUE\nOBS_USED                                 = VALUE\nTRACKS_AVAILABLE                         = VALUE\nTRACKS_USED                              = VALUE\nRESIDUALS_ACCEPTED                       = VALUE                              [%]\nWEIGHTED_RMS                             = VALUE\nAREA_PC                                  = VALUE                              [m**2]\nMASS                                     = VALUE\nHBR                                      = VALUE\nCD_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nCR_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nTHRUST_ACCELERATION                      = VALUE                              [m/s**2]\nSEDR                                     = VALUE                              [W/kg]\nAPOAPSIS_ALTITUDE                        = VALUE                              [km]\nPERIAPSIS_ALTITUDE                       = VALUE                              [km]\nINCLINATION                              = VALUE                              [deg]\nX                                        = VALUE                              [km]\nY                                        = VALUE                              [km]\nZ                                        = VALUE                              [km]\nX_DOT                                    = VALUE                              [km/s]\nY_DOT                                    = VALUE                              
[...]
