{
  "openapi": "3.1.0",
  "info": {
    "title": "Metadata API Swagger Docs",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.tracss.gov:443",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/metadata/contactDirectory/operational/update": {
      "put": {
        "tags": [
          "operator-controller"
        ],
        "summary": "Update an existing Satellite Operator record.",
        "description": "Updates an existing Satellite Operator record in the database based on the provided noradId(s) and data in the request body. Returns the updated Operator object as JSON.",
        "operationId": "updateOperator_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token required to update the Satellite Operator record.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJpZF..."
          },
          {
            "name": "noradIds",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "requestBody": {
          "description": "JSON payload containing Operator fields to update. Only the provided fields will be modified.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {
                  "operatorPoc": "string",
                  "operatorPhone": "string",
                  "operatorEmail": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - The request body is malformed or contains invalid data.",
            "content": {
              "text/plain": {}
            }
          },
          "200": {
            "description": "OK - Satellite Operator record successfully updated. Returns the updated Operator object as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Operator"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - The provided 'Authorization' header token is missing, invalid, or expired.",
            "content": {
              "text/plain": {}
            }
          },
          "500": {
            "description": "Internal Server Error - An error occurred during processing. This could be due to a database issue or an unexpected server error. Check response body for details.",
            "content": {
              "text/plain": {}
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/metadata/v2/ocm/upload": {
      "post": {
        "tags": [
          "ocm-controller-v-2"
        ],
        "summary": "Upload a V2 OCM/OCMs.",
        "description": "Upload a V2 OCM or zip file of OCMs (file param in formData). If you wish to update the database, use a header of updateDatabase with a value of true.The following will be used from the OCM:\n* Tech POC\n* Tech Org\n* Tech Position\n* Tech Phone\n* Tech Email\n* Tech Address\n* Originator POC\n* Originator Position\n* Originator Phone\n* Originator Email\n* Originator Address\n* Ops Status\n* Orbit Category\n* Wet mass\n* Hard Body Radius",
        "operationId": "batchStoreOCMInfo",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateDatabase",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggerCA",
            "in": "query",
            "description": "Whether to trigger CA with uploaded OCM(s). Defaults to false. NOTE: This only affects OPERATIONAL OCMs, CANDIDATE OCMs will always trigger on-demand CA NOTE: If two Operational OCMs with the same objectId are uploaded, only the most recently created OCM will be screened for on demand.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad request - There was a problem with one of the parameters passed to the API call.",
            "content": {
              "application/json": {}
            }
          },
          "201": {
            "description": "Created - OCM successfully stored, trigger CA, with errors. Has two successful statuses. The first status indicates the API was hit without error. The second indicates the OCM(s) were persisted to the system without error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "status": "successful",
                    "payload": {
                      "status": "Successful but Not All Files Accepted",
                      "triggerCA": true,
                      "candidateOCMsUploaded": 2,
                      "candidateOCMsScreened": 1,
                      "operationalOCMsUploaded": 2,
                      "operationalOCMsScreened": 1,
                      "ocmFilesRejected": 1,
                      "payload": {
                        "batchId": "opefb8d8-f847-4182-80ec-854c66ae311d",
                        "uploadDate": "2026-03-20T14:13:01.331Z",
                        "ocmBatchList": [
                          {
                            "messageId": "2026-03-19T17:42:06Z56726-Automation",
                            "usableStartTime": "2025-12-11T10:28:30.000Z",
                            "usableStopTime": "2026-03-21T10:31:30.000Z",
                            "satNo": "56726",
                            "creationDate": "2026-03-19T17:42:06Z",
                            "preProcessingValidation": [
                              "CATALOG_NAME: Catalog Name with value: DOD_SATELLITE_CATALOG is invalid.  Valid values are: [DoD Satellite Catalog, SATCAT, TELESAT, RR Tracking Satellite Catalog, UNKNOWN]",
                              "OPS_STATUS: Ops Status with value: CANDIDATE_MANEUVERABLE is invalid.  Valid values are: [BACKUP_STORAGE_STANDBY, DECAYED, DEGRADED_OPERATIONS, EXTENDED_MISSION, NONOPERATIONAL, OPERATIONAL_MANEUVERABLE, OPERATIONAL_NONMANEUVERABLE, REENTRY_MODE, UNKNOWN, IN_TRANSIT, ON_STATION, DISPOSAL]",
                              "COV_TYPE: Covariance Type with value: TCARTPV is invalid.  Valid values are: [CARTP, CARTPV]",
                              "COV_ORDERING: Covariance Ordering with value: UTM is invalid.  Valid values are: [LTM]",
                              "Trajectory TRAJ_UNITS contains invalid values.  Valid values are [km,km,km,km/s,km/s,km/s] or [km,km,km,km/s,km/s,km/s,km/s^2,km/s^2,km/s^2]. Value: null",
                              "Pertubation cannot be null if Orbit Determination is Present. Value: null",
                              "Covariance COV_UNITS contain invalid values.  Valid values are [km,km,km] or [km,km,km,km/s,km/s,km/s]. Value: null"
                            ],
                            "trajBasis": "CANDIDATE",
                            "filename": "ocm-batch-test-319/bad-candidate.txt",
                            "ocmType": "CANDIDATE",
                            "toBeSaved": false
                          },
                          {
                            "messageId": "4591f4c0-5bfc-4a12-964d-7c4f97822af5",
                            "usableStartTime": "2026-03-19T12:57:30.000Z",
                            "usableStopTime": "2026-03-26T14:00:30.000Z",
                            "satNo": "43928",
                            "creationDate": "2026-03-19T14:07:34Z",
                            "preProcessingValidation": null,
                            "trajBasis": "CANDIDATE",
                            "filename": "ocm-batch-test-319/candidate-good.txt",
                            "ocmType": "CANDIDATE",
                            "toBeSaved": true
                          },
                          {
                            "messageId": "4591f4c0-5bfc-4a12-964d-7c4f97822af5",
                            "usableStartTime": "2026-03-19T12:57:30.000Z",
                            "usableStopTime": "2026-03-26T14:00:30.000Z",
                            "satNo": "43928",
                            "creationDate": "2026-03-19T14:07:34Z",
                            "preProcessingValidation": null,
                            "trajBasis": "OPERATIONAL",
                            "filename": "ocm-batch-test-319/operational-good - Copy.txt",
                            "ocmType": "OPERATIONAL",
                            "toBeSaved": true
                          },
                          {
                            "messageId": "4591f4c0-5bfc-4a12-964d-7c4f97822af5",
                            "usableStartTime": "2026-03-19T12:57:30.000Z",
                            "usableStopTime": "2026-03-26T14:00:30.000Z",
                            "satNo": "43928",
                            "creationDate": "2026-03-19T14:07:34Z",
                            "preProcessingValidation": null,
                            "trajBasis": "OPERATIONAL",
                            "filename": "ocm-batch-test-319/operational-good.txt",
                            "ocmType": "OPERATIONAL",
                            "toBeSaved": true
                          }
                        ]
                      }
                    }
                  }
                }
              },
              "text/plain": {
                "examples": {
                  "OCM saved": {
                    "description": "OCM saved",
                    "value": "Uploaded OCM(s) Successfully"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - There was a problem with the authorization token passed to the API call.",
            "content": {
              "application/json": {}
            }
          },
          "422": {
            "description": "Unprocessable Entity - There was a processing error with the uploaded OCM.",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error - There was an unknown error while processing the uploaded OCM.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/metadata/tracssCat/update/csv": {
      "post": {
        "tags": [
          "tracss-cat-controller"
        ],
        "summary": "Update the TraCSS Cat directly and submit change requests for satellites you own/operate via a csv.",
        "description": "This endpoint allows a user to submit a CSV file to update the tracss catalog. The csv can be the same\nformat as the CSV submitted at the time of requesting an account (see documentation on tracss.gov).\nor it may be any subset of fields from the signup csv. All valid fields are defined below.\n\nThe uploaded CSV needs to have headers, at a minimum, the noradId. Each row of the CSV must also have\nexactly as many columns as described in the header.\n\n**For example:**\nnoradId,alternateNames,constellation\n12345,altName1;altName2,sat-constellation\n12346,,sat-constellation\n12347,altName3,\n\nIf a noradId provided in the CSV is not one your organization owns or has been granted access\nto by a third party, a change request to claim that satellite will be made, along with a change request\nto all the other fields provided for that satellite. Upon approval of the organization claim, if any\nfields as part of that request are freely updatable, the update will apply as soon as the organization\nassignment is applied.\n\n**National Government accounts are restricted to only requesting changes on the following fields:**\n\n- countryOfHeadquarters\n- countryProvidingCommunicationLicense / countryProvidingCommunicationsLicense\n- countryOfUNRegistry\n- countryProvidingRemoteSensing / countryProvidingRemoteSensingOrNovelActivitiesLicense\n- countryOfLaunchLicense\n\n---\n\n**All valid fields for a CSV (noradId is required):**\n\n- satelliteName - Common name of the satellite\n- alternateNames - Other names the satellite may be referred to as: ; separated list if multiple names\n- internationalDesignator - Designator for the satellite indicating launch year, launch number and launch piece\n- organization - Name of the organization in TraCSS the satellite is owned by\n- countryOfLaunchLicense - 2 or 3 letter country code of the nation providing the launch license\n- countryOfHeadquarters - 2 or 3 letter country code of the nation where satellite operations are headquartered\n- countryProvidingCommunicationLicense - 2 or 3 letter country code of the nation providing the communications license\n- countryProvidingCommunicationsLicense - Same as above, just an alternate naming scheme\n- countryOfUNRegistry - 2 or 3 letter country code of the nation that registered the satellite in the UN registry\n- countryProvidingRemoteSensing - 2 or 3 letter country code of the nation providing remote sensing or novel activities license\n- countryProvidingRemoteSensingOrNovelActivitiesLicense - Same as above, just an alternate naming scheme\n- constellation - Satellite constellation that the object is part of\n- launchProvider - Name of the launch provider for the object\n- launchVehicle - Name of the vehicle the object was launched on\n- launchLocation - Name of the site the vehicle was launched at\n- launchSite - Same as above, just an alternate naming scheme\n- launchDate - Date the object was launched (see valid date formats below)\n- deploymentDate - Date the payload was deployed (see valid date formats below)\n- launchName - Name of the launch event\n- generalFunction - The general function of the spacecraft. Choose from:\n    - spacecraft engaged in investigation of spaceflight techniques and technology\n    - spacecraft engaged in research and exploration of the upper atmosphere or outer space\n    - spacecraft engaged in practical applications and uses of space technology such as weather or communications\n    - spent boosters, spent maneuvering stage shrouds, and other non-functional objects\n    - reusable space transportation systems\n- objectType - The spacecraft type. Choose from:\n    - Payload\n    - Platform\n    - Rocket Body\n    - Debris\n    - Unknown\n- decayDate - Date the object decayed (see valid date formats below)\n- estimatedTimeOnOrbit - A time estimate in years for how long the object has been on orbit (e.g., 2.5)\n- estimatedTotalTimeOnOrbit - A time estimate in years for how long the object is expected to be on orbit (e.g., 15.2)\n- expectedOperationalMissionLifetime - A time estimate in years for how long the object will be conducting its operational mission (e.g., 10)\n- orbitPeriod - The actual time in minutes it takes the object to complete one orbit (e.g., 120)\n- orbitInclination - The angle in degrees between the object's orbit and the Earth's equator (e.g., 25)\n- orbitApogee - The highest altitude in kilometers the object reaches in its orbit (e.g., 5500)\n- orbitPerigee - The lowest altitude in kilometers the object reaches in its orbit (e.g., 1200)\n- plannedOrbitPeriod - Prior to launch, planned orbit period in minutes\n- plannedOrbitInclination - Prior to launch, planned orbit inclination\n- plannedOrbitApogee - Prior to launch, planned orbit apogee\n- plannedOrbitPerigee - Prior to launch, planned orbit perigee\n- plannedOrbit - Prior to launch, a combination of the 4 values above: a ; separated list in the order of period, inclination, apogee, perigee (e.g., 120;25;5500;1200)\n- rcsSize - A qualitative classification of the object's radar cross section. Choose from:\n    - Small\n    - Medium\n    - Large\n- launchPiece - The piece designation from a launch to differentiate objects from the same launch\n- orbitalRegime - The orbital regime of the object. Choose from:\n    - Deep Space\n    - LEO 4\n    - LEO 3\n    - LEO 2\n    - LEO 1\n- meanMotion - Number of orbits completed per day\n- firstDerivativeOfMeanMotion - Indication of orbital decay in revs/day (\u00b11e-8 to \u00b11e-3; TLE format: scaled by 2/3\u03c0)\n- secondDerivativeOfMeanMotion - Indication of orbital decay in revs/day, often blank (\u00b11e-16 to \u00b11e-11; TLE format: scaled by 6/\u03c0)\n- bStarDragTerm - Drag term used for atmospheric drag modeling (0-1)\n- raan - Right Ascension of Ascending Node in degrees\n- eccentricity - A measure of how elliptical the orbit is (0-1)\n- argumentOfPerigee - Indication of where perigee occurs in the orbit in degrees\n- meanAnomaly - Position of the object in its orbit at the epoch in degrees\n- revolutionNumberAtEpoch - Total number of revolutions completed at epoch\n- additionalDeployments - Whether there will be additional deployments from the satellite (YES/NO). If YES, additional information can be provided.\n- willAnythingBeDeployedFromIt - Same as above, just an alternate naming scheme\n- operationalStatus - The object's current status. Choose from:\n    - BACKUP_STORAGE_STANDBY\n    - DECAYED\n    - DEGRADED_OPERATIONS\n    - EXTENDED_MISSION\n    - NONOPERATIONAL\n    - OPERATIONAL_MANEUVERABLE\n    - OPERATIONAL_NONMANEUVERABLE\n    - REENTRY_MODE\n    - UNKNOWN\n- orbitCategory - Category of the object's orbit. Choose from:\n    - GEO\n    - GSO\n    - GTO\n    - HELIOCENTRIC\n    - HEO\n    - INTERPLANETARY\n    - LEO\n    - LUNAR\n    - MEO\n    - PLANETARY\n    - OTHER\n- wetMass - Wet mass of the object in kilograms\n- hardBodyRadius - The hard body radius calculated via a standard method in meters\n- conjunctionMitigationCapabilities - Capabilities the object has to avoid conjunctions: ; separated list of:\n    - chemical propulsion\n    - electric propulsion\n    - differential drag\n    - object re-orientation\n    - none\n- contactInfo - First and last name of the prime point of contact for the object and any emails and phone numbers. Example:\n\n    First;Last;satops@tracss.gov;satops2@tracss.gov;1234567890\n\n    The first and last name must be the first two entries in the list, then add as many or as few emails and phone numbers as needed.\n\n---\n\n**The following fields do not require TraCSS Operations approval for updates and the expectation is\nthat owners and operators will keep these fields up to date:**\n\n- alternateNames\n- additionalDeployments / willAnythingBeDeployedFromIt\n- operationalStatus\n- orbitCategory\n- wetMass\n- hardBodyRadius\n- conjunctionMitigationCapabilities\n- contactInfo\n\nEverything else is either provided from the DoD, is derived from DoD values, or from NASA. You may\nsubmit change requests if the data is believed to be wrong or out of date. If this is the case, the\nrequest will be sent to the TraCSS Operations team for approval. If approved, the submitted value will\noverwrite the existing data and not be updated by the DoD/NASA ingests.\n\n---\n\n**Valid Date Patterns**\n\nThe following date/time formats are accepted for date fields. All times are assumed to be in UTC unless a timezone is specified.\n\n| Pattern Example                       | Description                                               | Pattern String                               |\n|---------------------------------------|-----------------------------------------------------------|----------------------------------------------|\n| `2023-123T14:30:00`                   | `Year + day-of-year + time (T separator)`                 | `yyyy-DDD'T'HH:mm:ss`                        |\n| `2023-123 14:30:00`                   | `Year + day-of-year + time (space separator)`             | `yyyy-DDD HH:mm:ss`                          |\n| `2023-05-01T14:30:00.123Z`            | `ISO with milliseconds and Zulu`                          | `yyyy-MM-dd'T'HH:mm:ss.SSS'Z'`               |\n| `2023-05-01T14:30:00.12Z`             | `ISO with hundredths and Zulu`                            | `yyyy-MM-dd'T'HH:mm:ss.SS'Z'`                |\n| `2023-05-01T14:30:00.1Z`              | `ISO with tenths and Zulu`                                | `yyyy-MM-dd'T'HH:mm:ss.S'Z'`                 |\n| `2023-05-01T14:30:00Z`                | `ISO with Zulu`                                           | `yyyy-MM-dd'T'HH:mm:ss'Z'`                   |\n| `2023-05-01T14:30:00.123`             | `ISO with milliseconds, no timezone`                      | `yyyy-MM-dd'T'HH:mm:ss.SSS`                  |\n| `2023-05-01T14:30:00.123456789`       | `ISO with nanoseconds, no timezone`                       | `yyyy-MM-dd'T'HH:mm:ss[.n...]`               |\n| `2023-05-01 14:30:00.123456789`       | `ISO with nanoseconds, space separator`                   | `yyyy-MM-dd HH:mm:ss[.n...]`                 |\n| `2023-05-01T14:30:00+00:00`           | `ISO with timezone offset`                                | `yyyy-MM-dd'T'HH:mm:ssXXX`                   |\n| `2023-123T14:30:00.123Z`              | `Year + day-of-year + time + milliseconds + Zulu`         | `yyyy-DDD'T'HH:mm:ss.SSS'Z'`                 |\n| `2023-123T14:30:00.123`               | `Year + day-of-year + time + milliseconds`                | `yyyy-DDD'T'HH:mm:ss.SSS`                    |\n| `2023-123 14:30:00.123`               | `Year + day-of-year + time + milliseconds (space)`        | `yyyy-DDD' 'HH:mm:ss.SSS`                    |\n| `2023-123 14:30:00`                   | `Year + day-of-year + time (space)`                       | `yyyy-DDD' 'HH:mm:ss`                        |\n| `2023-123T14:30:00`                   | `Year + day-of-year + time (T)`                           | `yyyy-DDD'T'HH:mm:ss`                        |\n| `Mon May 01 14:30:00 UTC 2023`        | `Default date string`                                     | `EEE MMM dd HH:mm:ss z yyyy`                 |\n| `2023-05-01T14:30:00`                 | `ISO without milliseconds or timezone`                    | `yyyy-MM-dd'T'HH:mm:ss`                      |\n| `2023-05-01 14:30:00`                 | `ISO with space separator`                                | `yyyy-MM-dd HH:mm:ss`                        |\n| `2023-05-01`                          | `Date only, time defaults to 00:00:00`                    | `yyyy-MM-dd`                                 |\n",
        "operationId": "processTracssCatUpdateCsv",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "TraCSS Auth string",
            "required": true
          }
        ],
        "requestBody": {
          "description": "CSV file containing TraCSS Cat noradIds and columns to update. Accepted file types: .csv",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "CSV file containing TraCSS Cat noradIds and columns to update. Accepted file types: .csv"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Bad Request - All rows had errors, unauthorized to request changes, or empty csv passed in",
            "content": {
              "text/plain": {}
            }
          },
          "200": {
            "description": "OK - Update request submitted successfully.",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error - CSV failed antivirus scan or some unknown error occurred while processing the CSV",
            "content": {
              "text/plain": {}
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/metadata/ocm/upload": {
      "post": {
        "tags": [
          "ocm-controller"
        ],
        "summary": "Upload an OCM. NOTE: it is encouraged to use the v2 endpoints for most up to date specs and functionality",
        "description": "Upload an OCM or zip file of OCMs (file param in formData). If you wish to update the database, use a header of updateDatabase with a value of true.The following will be used from the OCM:\n* Tech POC\n* Tech Org\n* Tech Position\n* Tech Phone\n* Tech Email\n* Tech Address\n* Originator POC\n* Originator Position\n* Originator Phone\n* Originator Email\n* Originator Address\n* Ops Status\n* Orbit Category\n* Wet mass\n* Hard Body Radius",
        "operationId": "batchStoreOCMInfo_1",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateDatabase",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggerCA",
            "in": "query",
            "description": "Whether to trigger CA with uploaded OCM(s). Defaults to false. NOTE: This only affects OPERATIONAL OCMs, CANDIDATE OCMs will always trigger on-demand CA NOTE: If two Operational OCMs with the same objectId are uploaded, only the most recently created OCM will be screened for on demand.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad request - There was a problem with one of the parameters passed to the API call.",
            "content": {
              "application/json": {}
            }
          },
          "201": {
            "description": "Created - OCM successfully stored, trigger CA, with errors. Has two successful statuses. The first status indicates the API was hit without error. The second indicates the OCM(s) were persisted to the system without error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "status": "successful",
                    "payload": {
                      "status": "Successful but Not All Files Accepted",
                      "triggerCA": true,
                      "candidateOCMsUploaded": 2,
                      "candidateOCMsScreened": 1,
                      "operationalOCMsUploaded": 2,
                      "operationalOCMsScreened": 1,
                      "ocmFilesRejected": 1,
                      "payload": {
                        "batchId": "opefb8d8-f847-4182-80ec-854c66ae311d",
                        "uploadDate": "2026-03-20T14:13:01.331Z",
                        "ocmBatchList": [
                          {
                            "messageId": "2026-03-19T17:42:06Z56726-Automation",
                            "usableStartTime": "2025-12-11T10:28:30.000Z",
                            "usableStopTime": "2026-03-21T10:31:30.000Z",
                            "satNo": "56726",
                            "creationDate": "2026-03-19T17:42:06Z",
                            "preProcessingValidation": [
                              "CATALOG_NAME: Catalog Name with value: DOD_SATELLITE_CATALOG is invalid.  Valid values are: [DoD Satellite Catalog, SATCAT, TELESAT, RR Tracking Satellite Catalog, UNKNOWN]",
                              "OPS_STATUS: Ops Status with value: CANDIDATE_MANEUVERABLE is invalid.  Valid values are: [BACKUP_STORAGE_STANDBY, DECAYED, DEGRADED_OPERATIONS, EXTENDED_MISSION, NONOPERATIONAL, OPERATIONAL_MANEUVERABLE, OPERATIONAL_NONMANEUVERABLE, REENTRY_MODE, UNKNOWN, IN_TRANSIT, ON_STATION, DISPOSAL]",
                              "COV_TYPE: Covariance Type with value: TCARTPV is invalid.  Valid values are: [CARTP, CARTPV]",
                              "COV_ORDERING: Covariance Ordering with value: UTM is invalid.  Valid values are: [LTM]",
                              "Trajectory TRAJ_UNITS contains invalid values.  Valid values are [km,km,km,km/s,km/s,km/s] or [km,km,km,km/s,km/s,km/s,km/s^2,km/s^2,km/s^2]. Value: null",
                              "Pertubation cannot be null if Orbit Determination is Present. Value: null",
                              "Covariance COV_UNITS contain invalid values.  Valid values are [km,km,km] or [km,km,km,km/s,km/s,km/s]. Value: null"
                            ],
                            "trajBasis": "CANDIDATE",
                            "filename": "ocm-batch-test-319/bad-candidate.txt",
                            "ocmType": "CANDIDATE",
                            "toBeSaved": false
                          },
                          {
                            "messageId": "4591f4c0-5bfc-4a12-964d-7c4f97822af5",
                            "usableStartTime": "2026-03-19T12:57:30.000Z",
                            "usableStopTime": "2026-03-26T14:00:30.000Z",
                            "satNo": "43928",
                            "creationDate": "2026-03-19T14:07:34Z",
                            "preProcessingValidation": null,
                            "trajBasis": "CANDIDATE",
                            "filename": "ocm-batch-test-319/candidate-good.txt",
                            "ocmType": "CANDIDATE",
                            "toBeSaved": true
                          },
                          {
                            "messageId": "4591f4c0-5bfc-4a12-964d-7c4f97822af5",
                            "usableStartTime": "2026-03-19T12:57:30.000Z",
                            "usableStopTime": "2026-03-26T14:00:30.000Z",
                            "satNo": "43928",
                            "creationDate": "2026-03-19T14:07:34Z",
                            "preProcessingValidation": null,
                            "trajBasis": "OPERATIONAL",
                            "filename": "ocm-batch-test-319/operational-good - Copy.txt",
                            "ocmType": "OPERATIONAL",
                            "toBeSaved": true
                          },
                          {
                            "messageId": "4591f4c0-5bfc-4a12-964d-7c4f97822af5",
                            "usableStartTime": "2026-03-19T12:57:30.000Z",
                            "usableStopTime": "2026-03-26T14:00:30.000Z",
                            "satNo": "43928",
                            "creationDate": "2026-03-19T14:07:34Z",
                            "preProcessingValidation": null,
                            "trajBasis": "OPERATIONAL",
                            "filename": "ocm-batch-test-319/operational-good.txt",
                            "ocmType": "OPERATIONAL",
                            "toBeSaved": true
                          }
                        ]
                      }
                    }
                  }
                }
              },
              "text/plain": {
                "examples": {
                  "OCM saved": {
                    "description": "OCM saved",
                    "value": "Uploaded OCM(s) Successfully"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - There was a problem with the authorization token passed to the API call.",
            "content": {
              "application/json": {}
            }
          },
          "422": {
            "description": "Unprocessable Entity - There was a processing error with the uploaded OCM.",
            "content": {
              "application/json": {}
            }
          },
          "500": {
            "description": "Internal Server Error - There was an unknown error while processing the uploaded OCM.",
            "content": {
              "application/json": {}
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/metadata/v2/tracssCdm": {
      "get": {
        "tags": [
          "tracss-cdm-controller-v-2"
        ],
        "summary": "Retrieve V2 TraCSS CDMs.",
        "description": "Retrieve one or more TraCSS CDMs from TRACSS.",
        "operationId": "findById",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token to retrieve the TraCSS CDM.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ7XCJpZF..."
          },
          {
            "name": "messageId",
            "in": "query",
            "description": "Message Id (generated), or list of comma separated IDs, from ASW that processed the CDM during super combo processing. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "000043928_conj_000054603_2024329195621, or 000060681_conj_000026126_2025191132238_1751813630,000060681_conj_000026126_2025191132238_1751898521"
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "Correlation Id (UUID) of the TraCSS CDM. If set to 'most_recent', the most recent CA run's correlationId will be used, and will default to most_recent if not other params used.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "dd8c054b-6bea-48fb-a245-6cb23331b156"
          },
          {
            "name": "CAStatus",
            "in": "query",
            "description": "Can be set to 'Complete' (case insensitive) in conjunction with correlationId to find the latest correlationId of a completed CA run.A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "complete"
          },
          {
            "name": "ocmMessageId",
            "in": "query",
            "description": "OCM Message Id from an OCM that processed the CDM during super combo processing. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "000043928_conj_000054603_2024329195621"
          },
          {
            "name": "object1Id",
            "in": "query",
            "description": "DEPRECATED: Please use object1ObjectDesignator param instead. Object1 Id (Primary Satellite Number). A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2) , Between (Value1...Value2) (smaller value first), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "example": 34999
          },
          {
            "name": "object2Id",
            "in": "query",
            "description": "DEPRECATED: Please use object2ObjectDesignator param instead. Object2 Id (Secondary Satellite Number of conjuncting satellite). A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2), Between (Value1...Value2) (smaller value first), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "deprecated": true,
            "schema": {
              "type": "string"
            },
            "example": 34999
          },
          {
            "name": "operatorOrganization",
            "in": "query",
            "description": "The name of the current operator's organization. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "SpaceX"
          },
          {
            "name": "tca",
            "in": "query",
            "description": "TCA (Time of Closest Approach). A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value) and Between (Value1...Value2) (smaller value first)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2024-314T07:41:39.411"
          },
          {
            "name": "creationDate",
            "in": "query",
            "description": "Creation Date of the CDM. A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value) and Between (Value1...Value2) (smaller value first)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2024-09-04T18:37:01Z"
          },
          {
            "name": "messageFor",
            "in": "query",
            "description": "Name of Satellite whom the TraCSS cdm is for. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "IRIDIUM 161"
          },
          {
            "name": "missDistance",
            "in": "query",
            "description": "The distance (in m) that object1 and object2 missed by. A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2) , Between (Value1...Value2) (smaller value first)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1000, <500"
          },
          {
            "name": "collisionProbability",
            "in": "query",
            "description": "The probability of object1 and object2 having a collision. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2) , Between (Value1...Value2) (smaller value first). Does NOT work with Like (\\*Value) and Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 2.982641e-10
          },
          {
            "name": "screenVolumeShape",
            "in": "query",
            "description": "The shape of the screen volume for primary or secondary sat. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Box, Ellipsoid"
          },
          {
            "name": "object1Type",
            "in": "query",
            "description": "The object type of object1. Possible values are: PAYLOAD, ROCKET BODY, DEBRIS, UNKNOWN, OTHER. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Payload"
          },
          {
            "name": "object1ObjectDesignator",
            "in": "query",
            "description": "The designator for object1. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 12345
          },
          {
            "name": "object1InternationalDesignator",
            "in": "query",
            "description": "The international designator for object1. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2019-002A"
          },
          {
            "name": "object1OperatorOrganization",
            "in": "query",
            "description": "The operator organization for object1. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Iridium"
          },
          {
            "name": "object1EphemerisName",
            "in": "query",
            "description": "The ephemeris name for object1. If an OCM was involved, this will be the OCMs messageId, otherwise NONE. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NONE"
          },
          {
            "name": "object2Type",
            "in": "query",
            "description": "The object type of object2. Possible values are: PAYLOAD, ROCKET BODY, DEBRIS, UNKNOWN, OTHER. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Payload"
          },
          {
            "name": "object2ObjectDesignator",
            "in": "query",
            "description": "The designator for object2. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 12345
          },
          {
            "name": "object2InternationalDesignator",
            "in": "query",
            "description": "The international designator for object2. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2019-002A"
          },
          {
            "name": "object2OperatorOrganization",
            "in": "query",
            "description": "The operator organization for object2. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Iridium"
          },
          {
            "name": "object2EphemerisName",
            "in": "query",
            "description": "The ephemeris name for object2. If an OCM was involved, this will be the OCMs messageId, otherwise NONE. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "NONE"
          },
          {
            "name": "conjunctionId",
            "in": "query",
            "description": "Conjunction ID for a TracssCdm.  This can be a single ID or a comma separated list of IDs. A value with an optional operator that may be pre-pended to the value. Valid operators are: Not Equal (<>Value), In (Value1,Value2), Like (\\*Value), Not Like(~*Value)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "000005e5-d1dd-4a43-b2df-86196e42d29a, or 000005e5-d1dd-4a43-b2df-86196e42d29a,000005e5-d1dd-4a43-b2df-86196e42d29a"
          },
          {
            "name": "batchId",
            "in": "query",
            "description": "Batch ID of an On-Demand CA run. Does not work along with correlationId, and will override this param.A value with an optional operator that may be pre-pended to the value. Valid operators are: In (Value1,Value2)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "000005e5-d1dd-4a43-b2df-86196e42d29a, or 000005e5-d1dd-4a43-b2df-86196e42d29a,000005e5-d1dd-4a43-b2df-86196e42d29a"
          },
          {
            "name": "activeCdmsOnly",
            "in": "query",
            "description": "If true, only active (tca > now) CDMS will be returned.  If false, all CDMS will be returned. If used with latestCdmsOnly then only countOnly and object1ObjectDesignator may be used",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "latestCdmsOnly",
            "in": "query",
            "description": "If true, only the latest CDM for obj1 + obj2 combo will be returned.  If false, all CDMS will be returned. Can only be used with countOnly, activeCdmsOnly, object1ObjectDesignator or by itself. Does not work in conjunction with counter param. NOTE: This param can take significantly longer to return data",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "counter",
            "in": "query",
            "description": "The counter for the record in the database. Does not work with latestCdmsOnly. A value with an optional operator that may be pre-pended to the value. Valid operators are: Greater Than (>Value), Less Than (<Value), Greater Than or Equal (>=Value), Less Than or Equal (<=Value), Not Equal (<>Value), In (Value1,Value2) , Between (Value1...Value2) (smaller value first)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "1000, <500"
          },
          {
            "name": "headersOnly",
            "in": "query",
            "description": "Only get the header key fields of the object being asked for. Default is false. If set to true, format will be overwritten to JSON. Does not work with any filters",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": true
          },
          {
            "name": "highAlertOnly",
            "in": "query",
            "description": "Only get CDMs that met alertable criteria at time of saving",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true
          },
          {
            "name": "format",
            "in": "query",
            "description": "Desired format of the returned TraCSS CDM(s). Options are KVN (Default), JSON, XML, or CSV. CSV is a comma separated file derived from KVN",
            "required": false,
            "schema": {
              "type": "string",
              "default": "KVN"
            },
            "example": "json"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Desired sort field and direction (Ascending = ASC, Descending = DESC), separated by a comma.",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "object1ObjectDesignator,ASC"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma separated list of specific fields to include in the response.  Valid fields for JSON and XML are: CORRELATION_ID, TRACSS_CDM_VERS, CLASSIFICATION, CREATION_DATE, ORIGINATOR, MESSAGE_FOR, MESSAGE_ID, CONJUNCTION_ID, TCA, MISS_DISTANCE, MISS_DISTANCE_UNIT, MAHALANOBIS_DISTANCE, MAHALANOBIS_DISTANCE_UNIT, RELATIVE_SPEED, RELATIVE_SPEED_UNIT, RELATIVE_POSITION_R, RELATIVE_POSITION_R_UNIT, RELATIVE_POSITION_T, RELATIVE_POSITION_T_UNIT, RELATIVE_POSITION_N, RELATIVE_POSITION_N_UNIT, RELATIVE_VELOCITY_R, RELATIVE_VELOCITY_R_UNIT, RELATIVE_VELOCITY_T, RELATIVE_VELOCITY_T_UNIT, RELATIVE_VELOCITY_N, RELATIVE_VELOCITY_N_UNIT, APPROACH_ANGLE, APPROACH_ANGLE_UNIT, START_SCREEN_PERIOD, STOP_SCREEN_PERIOD, SCREEN_VOLUME_FRAME, SCREEN_VOLUME_SHAPE, SCREEN_VOLUME_X, SCREEN_VOLUME_X_UNIT, SCREEN_VOLUME_Y, SCREEN_VOLUME_Y_UNIT, SCREEN_VOLUME_Z, SCREEN_VOLUME_Z_UNIT, COLLISION_PROBABILITY, COLLISION_PROBABILITY_METHOD, COLLISION_MAX_PROBABILITY, COLLISION_MAX_PC_METHOD, SAT1_OBJECT, SAT1_OBJECT_DESIGNATOR, SAT1_CATALOG_NAME, SAT1_OBJECT_NAME, SAT1_INTERNATIONAL_DESIGNATOR, SAT1_OBJECT_TYPE, SAT1_OPS_STATUS, SAT1_OPERATOR_ORGANIZATION, SAT1_OPERATOR_PHONE, SAT1_OPERATOR_EMAIL, SAT1_EPHEMERIS_NAME, SAT1_COVARIANCE_METHOD, SAT1_MANEUVERABLE, SAT1_ORBIT_CENTER, SAT1_REF_FRAME, SAT1_GRAVITY_MODEL, SAT1_ATMOSPHERIC_MODEL, SAT1_N_BODY_PERTURBATIONS, SAT1_SOLAR_RAD_PRESSURE, SAT1_EARTH_TIDES, SAT1_INTRACK_THRUST, SAT1_TIME_LASTOB_START, SAT1_TIME_LASTOB_END, SAT1_RECOMMENDED_OD_SPAN, SAT1_RECOMMENDED_OD_SPAN_UNIT, SAT1_ACTUAL_OD_SPAN, SAT1_ACTUAL_OD_SPAN_UNIT, SAT1_OBS_AVAILABLE, SAT1_OBS_USED, SAT1_TRACKS_AVAILABLE, SAT1_TRACKS_USED, SAT1_RESIDUALS_ACCEPTED, SAT1_RESIDUALS_ACCEPTED_UNIT, SAT1_WEIGHTED_RMS, SAT1_AREA_PC, SAT1_AREA_PC_UNIT, SAT1_MASS, SAT1_MASS_UNIT, SAT1_HBR, SAT1_HBR_UNIT, SAT1_CD_AREA_OVER_MASS, SAT1_CD_AREA_OVER_MASS_UNIT, SAT1_CR_AREA_OVER_MASS, SAT1_CR_AREA_OVER_MASS_UNIT, SAT1_THRUST_ACCELERATION, SAT1_THRUST_ACCELERATION_UNIT, SAT1_SEDR, SAT1_SEDR_UNIT, SAT1_APOAPSIS_ALTITUDE, SAT1_APOAPSIS_ALTITUDE_UNIT, SAT1_PERIAPSIS_ALTITUDE, SAT1_PERIAPSIS_ALTITUDE_UNIT, SAT1_INCLINATION, SAT1_INCLINATION_UNIT, SAT1_X, SAT1_X_UNIT, SAT1_Y, SAT1_Y_UNIT, SAT1_Z, SAT1_Z_UNIT, SAT1_X_DOT, SAT1_X_DOT_UNIT, SAT1_Y_DOT, SAT1_Y_DOT_UNIT, SAT1_Z_DOT, SAT1_Z_DOT_UNIT, SAT2_OBJECT, SAT2_OBJECT_DESIGNATOR, SAT2_CATALOG_NAME, SAT2_OBJECT_NAME, SAT2_INTERNATIONAL_DESIGNATOR, SAT2_OBJECT_TYPE, SAT2_OPS_STATUS, SAT2_OPERATOR_ORGANIZATION, SAT2_OPERATOR_PHONE, SAT2_OPERATOR_EMAIL, SAT2_EPHEMERIS_NAME, SAT2_COVARIANCE_METHOD, SAT2_MANEUVERABLE, SAT2_ORBIT_CENTER, SAT2_REF_FRAME, SAT2_GRAVITY_MODEL, SAT2_ATMOSPHERIC_MODEL, SAT2_N_BODY_PERTURBATIONS, SAT2_SOLAR_RAD_PRESSURE, SAT2_EARTH_TIDES, SAT2_INTRACK_THRUST, SAT2_TIME_LASTOB_START, SAT2_TIME_LASTOB_END, SAT2_RECOMMENDED_OD_SPAN, SAT2_RECOMMENDED_OD_SPAN_UNIT, SAT2_ACTUAL_OD_SPAN, SAT2_ACTUAL_OD_SPAN_UNIT, SAT2_OBS_AVAILABLE, SAT2_OBS_USED, SAT2_TRACKS_AVAILABLE, SAT2_TRACKS_USED, SAT2_RESIDUALS_ACCEPTED, SAT2_RESIDUALS_ACCEPTED_UNIT, SAT2_WEIGHTED_RMS, SAT2_AREA_PC, SAT2_AREA_PC_UNIT, SAT2_MASS, SAT2_MASS_UNIT, SAT2_HBR, SAT2_HBR_UNIT, SAT2_CD_AREA_OVER_MASS, SAT2_CD_AREA_OVER_MASS_UNIT, SAT2_CR_AREA_OVER_MASS, SAT2_CR_AREA_OVER_MASS_UNIT, SAT2_THRUST_ACCELERATION, SAT2_THRUST_ACCELERATION_UNIT, SAT2_SEDR, SAT2_SEDR_UNIT, SAT2_APOAPSIS_ALTITUDE, SAT2_APOAPSIS_ALTITUDE_UNIT, SAT2_PERIAPSIS_ALTITUDE, SAT2_PERIAPSIS_ALTITUDE_UNIT, SAT2_INCLINATION, SAT2_INCLINATION_UNIT, SAT2_X, SAT2_X_UNIT, SAT2_Y, SAT2_Y_UNIT, SAT2_Z, SAT2_Z_UNIT, SAT2_X_DOT, SAT2_X_DOT_UNIT, SAT2_Y_DOT, SAT2_Y_DOT_UNIT, SAT2_Z_DOT, SAT2_Z_DOT_UNIT, USER_DEFINED_MEETS_ALERTABLE_CRITERIA, USER_DEFINED_RUN_ID, USER_DEFINED_CORRELATION_ID, USER_DEFINED_DILUTION_STATUS, USER_DEFINED_DILUTION_SIGNIFICANCE, USER_DEFINED_ENVIRONMENTAL_IMPACT_FRAGMENTATION, USER_DEFINED_FRAGMENTATION_MODEL",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "object1ObjectDesignator,object2ObjectDesignator"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for the queried TraCSS CDM(s). Default is 0",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 1
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of TraCSS CDMs per page.  Max is 5000",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5000
            },
            "example": 10
          },
          {
            "name": "countOnly",
            "in": "query",
            "description": "If true, only the count of the TraCSS CDMs will be returned. Default is false.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": false
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request - There was a problem with one or more of the parameters passed to the API call.",
            "content": {
              "text/plain": {}
            }
          },
          "200": {
            "description": "Ok - CDM(s) successfully retrieved.  Available formats are KVN (Text, Default), JSON, and XML.",
            "headers": {
              "max-counter-correlation-id": {
                "description": "The highest counter CDM's correlationId in the TraCSS System",
                "style": "simple",
                "example": 12345678
              },
              "max-counter": {
                "description": "The max CDM counter in the TraCSS system",
                "style": "simple",
                "example": 50000
              },
              "counter": {
                "description": "The highest CDM counter reached",
                "style": "simple",
                "example": 50000
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "CCSDS_CDM_VERS                           = VALUE\nCLASSIFICATION                           = VALUE\nCREATION_DATE                            = VALUE\nORIGINATOR                               = VALUE\nMESSAGE_FOR                              = VALUE\nMESSAGE_ID                               = VALUE\nCONJUNCTION_ID                           = VALUE\nTCA                                      = VALUE\nMISS_DISTANCE                            = VALUE                               [m]\nMAHALANOBIS_DISTANCE                     = VALUE\nRELATIVE_SPEED                           = VALUE                              [m/s]\nRELATIVE_POSITION_R                      = VALUE                              [m]\nRELATIVE_POSITION_T                      = VALUE                              [m]\nRELATIVE_POSITION_N                      = VALUE                              [m]\nRELATIVE_VELOCITY_R                      = VALUE                              [m/s]\nRELATIVE_VELOCITY_T                      = VALUE                              [m/s]\nRELATIVE_VELOCITY_N                      = VALUE                              [m/s]\nAPPROACH_ANGLE                           = VALUE\nSTART_SCREEN_PERIOD                      = VALUE\nSTOP_SCREEN_PERIOD                       = VALUE\nSCREEN_VOLUME_FRAME                      = VALUE\nSCREEN_VOLUME_SHAPE                      = VALUE\nSCREEN_VOLUME_X                          = VALUE                               [km]\nSCREEN_VOLUME_Y                          = VALUE                               [km]\nSCREEN_VOLUME_Z                          = VALUE                               [km]\nSCREEN_PC_THRESHOLD                      = VALUE\nCOLLISION_PROBABILITY                    = VALUE\nCOLLISION_PROBABILITY_METHOD             = VALUE\nCOLLISION_MAX_PROBABILITY                = VALUE\nCOLLISION_MAX_PC_METHOD                  = VALUE\nOBJECT                                   = VALUE\nOBJECT_DESIGNATOR                        = VALUE\nCATALOG_NAME                             = VALUE\nOBJECT_NAME                              = VALUE\nINTERNATIONAL_DESIGNATOR                 = VALUE\nOBJECT_TYPE                              = VALUE\nOPS_STATUS                               = VALUE\nOPERATOR_ORGANIZATION                    = VALUE\nOPERATOR_PHONE                           = VALUE\nOPERATOR_EMAIL                           = VALUE\nEPHEMERIS_NAME                           = VALUE\nCOVARIANCE_METHOD                        = VALUE\nMANEUVERABLE                             = VALUE\nORBIT_CENTER                             = VALUE\nREF_FRAME                                = VALUE\nGRAVITY_MODEL                            = VALUE\nATMOSPHERIC_MODEL                        = VALUE\nN_BODY_PERTURBATIONS                     = VALUE\nSOLAR_RAD_PRESSURE                       = VALUE\nEARTH_TIDES                              = VALUE\nINTRACK_THRUST                           = VALUE\nTIME_LASTOB_START                        = VALUE\nTIME_LASTOB_END                          = VALUE\nRECOMMENDED_OD_SPAN                      = VALUE                              [d]\nACTUAL_OD_SPAN                           = VALUE                              [d]\nOBS_AVAILABLE                            = VALUE\nOBS_USED                                 = VALUE\nTRACKS_AVAILABLE                         = VALUE\nTRACKS_USED                              = VALUE\nRESIDUALS_ACCEPTED                       = VALUE                              [%]\nWEIGHTED_RMS                             = VALUE\nAREA_PC                                  = VALUE                              [m**2]\nMASS                                     = VALUE\nHBR                                      = VALUE\nCD_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nCR_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nTHRUST_ACCELERATION                      = VALUE                              [m/s**2]\nSEDR                                     = VALUE                              [W/kg]\nAPOAPSIS_ALTITUDE                        = VALUE                              [km]\nPERIAPSIS_ALTITUDE                       = VALUE                              [km]\nINCLINATION                              = VALUE                              [deg]\nX                                        = VALUE                              [km]\nY                                        = VALUE                              [km]\nZ                                        = VALUE                              [km]\nX_DOT                                    = VALUE                              [km/s]\nY_DOT                                    = VALUE                              [km/s]\nZ_DOT                                    = VALUE                              [km/s]\nCR_R                                     = VALUE                              [m**2]\nCT_R                                     = VALUE                              [m**2]\nCT_T                                     = VALUE                              [m**2]\nCN_R                                     = VALUE                              [m**2]\nCN_T                                     = VALUE                              [m**2]\nCN_N                                     = VALUE                              [m**2]\nCRDOT_R                                  = VALUE                              [m**2/s]\nCRDOT_T                                  = VALUE                              [m**2/s]\nCRDOT_N                                  = VALUE                              [m**2/s]\nCRDOT_RDOT                               = VALUE                              [m**2/s**2]\nCTDOT_R                                  = VALUE                              [m**2/s]\nCTDOT_T                                  = VALUE                              [m**2/s]\nCTDOT_N                                  = VALUE                              [m**2/s]\nCTDOT_RDOT                               = VALUE                              [m**2/s**2]\nCTDOT_TDOT                               = VALUE                              [m**2/s**2]\nCNDOT_R                                  = VALUE                              [m**2/s]\nCNDOT_T                                  = VALUE                              [m**2/s]\nCNDOT_N                                  = VALUE                              [m**2/s]\nCNDOT_RDOT                               = VALUE                              [m**2/s**2]\nCNDOT_TDOT                               = VALUE                              [m**2/s**2]\nCNDOT_NDOT                               = VALUE                              [m**2/s**2]\nDENSITY_FORECAST_UNCERTAINTY             = VALUE\nSCREENING_DATA_SOURCE                    = VALUE\nDCP_SENSITIVITY_VECTOR_POSITION          = VALUE [m]\nDCP_SENSITIVITY_VECTOR_VELOCITY          = VALUE [m/sec]\nOBJECT                                   = VALUE\nOBJECT_DESIGNATOR                        = VALUE\nCATALOG_NAME                             = VALUE\nOBJECT_NAME                              = VALUE\nINTERNATIONAL_DESIGNATOR                 = VALUE\nOBJECT_TYPE                              = VALUE\nOPS_STATUS                               = VALUE\nOPERATOR_ORGANIZATION                    = VALUE\nOPERATOR_PHONE                           = VALUE\nOPERATOR_EMAIL                           = VALUE\nEPHEMERIS_NAME                           = VALUE\nCOVARIANCE_METHOD                        = VALUE\nMANEUVERABLE                             = VALUE\nORBIT_CENTER                             = VALUE\nREF_FRAME                                = VALUE\nGRAVITY_MODEL                            = VALUE\nATMOSPHERIC_MODEL                        = VALUE\nN_BODY_PERTURBATIONS                     = VALUE\nSOLAR_RAD_PRESSURE                       = VALUE\nEARTH_TIDES                              = VALUE\nINTRACK_THRUST                           = VALUE\nTIME_LASTOB_START                        = VALUE\nTIME_LASTOB_END                          = VALUE\nRECOMMENDED_OD_SPAN                      = VALUE                              [d]\nACTUAL_OD_SPAN                           = VALUE                              [d]\nOBS_AVAILABLE                            = VALUE\nOBS_USED                                 = VALUE\nTRACKS_AVAILABLE                         = VALUE\nTRACKS_USED                              = VALUE\nRESIDUALS_ACCEPTED                       = VALUE                              [%]\nWEIGHTED_RMS                             = VALUE\nAREA_PC                                  = VALUE                              [m**2]\nMASS                                     = VALUE\nHBR                                      = VALUE\nCD_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nCR_AREA_OVER_MASS                        = VALUE                              [m**2/kg]\nTHRUST_ACCELERATION                      = VALUE                              [m/s**2]\nSEDR                                     = VALUE                              [W/kg]\nAPOAPSIS_ALTITUDE                        = VALUE                              [km]\nPERIAPSIS_ALTITUDE                       = VALUE                              [km]\nINCLINATION                              = VALUE                              [deg]\nX                                        = VALUE                              [km]\nY                                        = VALUE                              [km]\nZ                                        = VALUE                              [km]\nX_DOT                                    = VALUE                              [km/s]\nY_DOT                                    = VALUE                              [km/s]\nZ_DOT                                    = VALUE                              [km/s]\nCR_R                                     = VALUE                              [m**2]\nCT_R                                     = VALUE                              [m**2]\nCT_T                                     = VALUE                              [m**2]\nCN_R                                     = VALUE                              [m**2]\nCN_T                                     = VALUE                              [m**2]\nCN_N                                     = VALUE                              [m**2]\nCRDOT_R                                  = VALUE                              [m**2/s]\nCRDOT_T                                  = VALUE                              [m**2/s]\nCRDOT_N                                  = VALUE                              [m**2/s]\nCRDOT_RDOT                               = VALUE                              [m**2/s**2]\nCTDOT_R                                  = VALUE                              [m**2/s]\nCTDOT_T                                  = VALUE                              [m**2/s]\nCTDOT_N                                  = VALUE                              [m**2/s]\nCTDOT_RDOT                               = VALUE                              [m**2/s**2]\nCTDOT_TDOT                               = VALUE                              [m**2/s**2]\nCNDOT_R                                  = VALUE                              [m**2/s]\nCNDOT_T                                  = VALUE                              [m**2/s]\nCNDOT_N                                  = VALUE                              [m**2/s]\nCNDOT_RDOT                               = VALUE                              [m**2/s**2]\nCNDOT_TDOT                               = VALUE                              [m**2/s**2]\nCNDOT_NDOT                               = VALUE                              [m**2/s**2]\nDENSITY_FORECAST_UNCERTAINTY             = VALUE\nSCREENING_DATA_SOURCE                    = VALUE\nDCP_SENSITIVITY_VECTOR_POSITION          = VALUE [m]\nDCP_SENSITIVITY_VECTOR_VELOCITY          = VALUE [m/sec]\nUSER_DEFINED_MEETS_ALERTABLE_CRITERIA    = VALUE\nUSER_DEFINED_RUN_ID                      = VALUE\nUSER_DEFINED_CORRELATION_ID              = VALUE\nUSER_DEFINED_DILUTION_STATUS             = VALUE\nUSER_DEFINED_DILUTION_SIGNIFICANCE       = VALUE\nUSER_DEFINED_ENVIRONMENTAL_IMPACT_FRAGMENTATION       = VALUE\nUSER_DEFINED_FRAGMENTATION_MODEL         = VALUE"
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "headersOnly": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CdmHeaderV2DTO"
                      }
                    },
                    "default": {
                      "type": "string",
                      "example": {
                        "tracssCdms": [
                          {
                            "id": "VALUE",
                            "version": 2.0,
                            "header": {
                              "CLASSIFICATION": "VALUE",
                              "CREATION_DATE": "VALUE",
                              "ORIGINATOR": "VALUE",
                              "MESSAGE_FOR": "VALUE",
                              "MESSAGE_ID": "VALUE",
                              "CONJUNCTION_ID": "VALUE"
                            },
                            "body": {
                              "relativeMetadataData": {
                                "TCA": "VALUE",
                                "MISS_DISTANCE": {
                                  "units": "m",
                                  "Value": 0.0
                                },
                                "RELATIVE_SPEED": {
                                  "units": "m/s",
                                  "Value": 0.0
                                },
                                "relativeStateVector": {
                                  "RELATIVE_POSITION_R": {
                                    "units": "m",
                                    "Value": 0.0
                                  },
                                  "RELATIVE_POSITION_T": {
                                    "units": "m",
                                    "Value": 0.0
                                  },
                                  "RELATIVE_POSITION_N": {
                                    "units": "m",
                                    "Value": 0.0
                                  },
                                  "RELATIVE_VELOCITY_R": {
                                    "units": "m/s",
                                    "Value": 0.0
                                  },
                                  "RELATIVE_VELOCITY_T": {
                                    "units": "m/s",
                                    "Value": 0.0
                                  },
                                  "RELATIVE_VELOCITY_N": {
                                    "units": "m/s",
                                    "Value": 0.0
                                  }
                                },
                                "APPROACH_ANGLE": {
                                  "units": "deg",
                                  "Value": 0.0
                                },
                                "START_SCREEN_PERIOD": "VALUE",
                                "STOP_SCREEN_PERIOD": "VALUE",
                                "SCREEN_VOLUME_FRAME": "RTN",
                                "SCREEN_VOLUME_SHAPE": "ELLIPSOID",
                                "SCREEN_VOLUME_X": {
                                  "units": "km",
                                  "Value": 0.0
                                },
                                "SCREEN_VOLUME_Y": {
                                  "units": "km",
                                  "Value": 0.0
                                },
                                "SCREEN_VOLUME_Z": {
                                  "units": "km",
                                  "Value": 0.0
                                },
                                "SCREEN_PC_THRESHOLD": 0.0,
                                "COLLISION_PROBABILITY": 0.0,
                                "COLLISION_PROBABILITY_METHOD": "VALUE",
                                "COLLISION_MAX_PROBABILITY": 0.0,
                                "COLLISION_MAX_PC_METHOD": "VALUE"
                              },
                              "segment": [
                                {
                                  "metadata": {
                                    "OBJECT": "OBJECT1",
                                    "OBJECT_DESIGNATOR": "VALUE",
                                    "CATALOG_NAME": "VALUE",
                                    "OBJECT_NAME": "VALUE",
                                    "INTERNATIONAL_DESIGNATOR": "VALUE",
                                    "OPS_STATUS": "VALUE",
                                    "OPERATOR_ORGANIZATION": "VALUE",
                                    "OPERATOR_PHONE": "VALUE",
                                    "OPERATOR_EMAIL": "VALUE",
                                    "EPHEMERIS_NAME": "VALUE",
                                    "COVARIANCE_METHOD": "CALCULATED",
                                    "MANEUVERABLE": "N/A",
                                    "ORBIT_CENTER": "VALUE",
                                    "REF_FRAME": "ITRF",
                                    "GRAVITY_MODEL": "VALUE",
                                    "ATMOSPHERIC_MODEL": "VALUE",
                                    "N_BODY_PERTURBATIONS": "VALUE",
                                    "SOLAR_RAD_PRESSURE": "YES",
                                    "EARTH_TIDES": "YES",
                                    "INTRACK_THRUST": "NO"
                                  },
                                  "data": {
                                    "odParameters": {
                                      "TIME_LASTOB_START": "VALUE",
                                      "TIME_LASTOB_END": "VALUE",
                                      "OBS_USED": 0,
                                      "TRACKS_USED": 0,
                                      "RESIDUALS_ACCEPTED": {
                                        "units": "%",
                                        "Value": 0.0
                                      },
                                      "WEIGHTED_RMS": 0.0
                                    },
                                    "additionalParameters": {
                                      "DENSITY_FORECAST_UNCERTAINTY": "VALUE",
                                      "SCREENING_DATA_SOURCE": "VALUE",
                                      "DCP_SENSITIVITY_VECTOR_POSITION": {
                                        "units": "m",
                                        "Value": "VALUE"
                                      },
                                      "DCP_SENSITIVITY_VECTOR_VELOCITY": {
                                        "units": "m/s",
                                        "Value": "VALUE"
                                      },
                                      "AREA_PC": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "MASS": {
                                        "units": "kg",
                                        "Value": 0.0
                                      },
                                      "HBR": {
                                        "units": "m",
                                        "Value": 0.0
                                      },
                                      "CD_AREA_OVER_MASS": {
                                        "units": "m**2/kg",
                                        "Value": 0.0
                                      },
                                      "CR_AREA_OVER_MASS": {
                                        "units": "m**2/kg",
                                        "Value": 0.0
                                      },
                                      "THRUST_ACCELERATION": {
                                        "units": "m/s**2",
                                        "Value": 0.0
                                      },
                                      "SEDR": {
                                        "units": "W/kg",
                                        "Value": 0.0
                                      },
                                      "APOAPSIS_ALTITUDE": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "PERIAPSIS_ALTITUDE": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "INCLINATION": {
                                        "units": "deg",
                                        "Value": 0.0
                                      }
                                    },
                                    "stateVector": {
                                      "X": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "Y": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "Z": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "X_DOT": {
                                        "units": "km/s",
                                        "Value": 0.0
                                      },
                                      "Y_DOT": {
                                        "units": "km/s",
                                        "Value": 0.0
                                      },
                                      "Z_DOT": {
                                        "units": "km/s",
                                        "Value": 0.0
                                      }
                                    },
                                    "covarianceMatrix": {
                                      "CR_R": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CT_R": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CT_T": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CN_R": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CN_T": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CN_N": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CRDOT_R": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CRDOT_T": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CRDOT_N": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CRDOT_RDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CTDOT_R": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CTDOT_T": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CTDOT_N": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CTDOT_RDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CTDOT_TDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CNDOT_R": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CNDOT_T": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CNDOT_N": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CNDOT_RDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CNDOT_TDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CNDOT_NDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      }
                                    }
                                  }
                                },
                                {
                                  "metadata": {
                                    "OBJECT": "OBJECT2",
                                    "OBJECT_DESIGNATOR": "VALUE",
                                    "CATALOG_NAME": "VALUE",
                                    "OBJECT_NAME": "VALUE",
                                    "INTERNATIONAL_DESIGNATOR": "VALUE",
                                    "OPS_STATUS": "VALUE",
                                    "OPERATOR_ORGANIZATION": "VALUE",
                                    "OPERATOR_PHONE": "VALUE",
                                    "OPERATOR_EMAIL": "VALUE",
                                    "EPHEMERIS_NAME": "VALUE",
                                    "COVARIANCE_METHOD": "CALCULATED",
                                    "MANEUVERABLE": "N/A",
                                    "ORBIT_CENTER": "VALUE",
                                    "REF_FRAME": "ITRF",
                                    "GRAVITY_MODEL": "VALUE",
                                    "ATMOSPHERIC_MODEL": "VALUE",
                                    "N_BODY_PERTURBATIONS": "VALUE",
                                    "SOLAR_RAD_PRESSURE": "NO",
                                    "EARTH_TIDES": "YES",
                                    "INTRACK_THRUST": "NO"
                                  },
                                  "data": {
                                    "odParameters": {
                                      "TIME_LASTOB_START": "VALUE",
                                      "TIME_LASTOB_END": "VALUE",
                                      "OBS_USED": 0,
                                      "TRACKS_USED": 0,
                                      "RESIDUALS_ACCEPTED": {
                                        "units": "%",
                                        "Value": 0.0
                                      },
                                      "WEIGHTED_RMS": 0.0
                                    },
                                    "additionalParameters": {
                                      "DENSITY_FORECAST_UNCERTAINTY": "VALUE",
                                      "SCREENING_DATA_SOURCE": "VALUE",
                                      "DCP_SENSITIVITY_VECTOR_POSITION": {
                                        "units": "m",
                                        "Value": "VALUE"
                                      },
                                      "DCP_SENSITIVITY_VECTOR_VELOCITY": {
                                        "units": "m/s",
                                        "Value": "VALUE"
                                      },
                                      "AREA_PC": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "MASS": {
                                        "units": "kg",
                                        "Value": 0.0
                                      },
                                      "HBR": {
                                        "units": "m",
                                        "Value": 0.0
                                      },
                                      "CD_AREA_OVER_MASS": {
                                        "units": "m**2/kg",
                                        "Value": 0.0
                                      },
                                      "CR_AREA_OVER_MASS": {
                                        "units": "m**2/kg",
                                        "Value": 0.0
                                      },
                                      "THRUST_ACCELERATION": {
                                        "units": "m/s**2",
                                        "Value": 0.0
                                      },
                                      "SEDR": {
                                        "units": "W/kg",
                                        "Value": 0.0
                                      },
                                      "APOAPSIS_ALTITUDE": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "PERIAPSIS_ALTITUDE": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "INCLINATION": {
                                        "units": "deg",
                                        "Value": 0.0
                                      }
                                    },
                                    "stateVector": {
                                      "X": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "Y": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "Z": {
                                        "units": "km",
                                        "Value": 0.0
                                      },
                                      "X_DOT": {
                                        "units": "km/s",
                                        "Value": 0.0
                                      },
                                      "Y_DOT": {
                                        "units": "km/s",
                                        "Value": 0.0
                                      },
                                      "Z_DOT": {
                                        "units": "km/s",
                                        "Value": 0.0
                                      }
                                    },
                                    "covarianceMatrix": {
                                      "CR_R": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CT_R": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CT_T": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CN_R": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CN_T": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CN_N": {
                                        "units": "m**2",
                                        "Value": 0.0
                                      },
                                      "CRDOT_R": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CRDOT_T": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CRDOT_N": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CRDOT_RDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CTDOT_R": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CTDOT_T": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CTDOT_N": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CTDOT_RDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CTDOT_TDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CNDOT_R": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CNDOT_T": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CNDOT_N": {
                                        "units": "m**2/s",
                                        "Value": 0.0
                                      },
                                      "CNDOT_RDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CNDOT_TDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      },
                                      "CNDOT_NDOT": {
                                        "units": "m**2/s**2",
                                        "Value": 0.0
                                      }
                                    }
                                  }
                                }
                              ],
                              "userDefinedParameters": {
                                "USER_DEFINED_MEETS_ALERTABLE_CRITERIA": "VALUE",
                                "USER_DEFINED_RUN_ID": "VALUE",
                                "USER_DEFINED_CORRELATION_ID": "VALUE",
                                "USER_DEFINED_DILUTION_STATUS": "VALUE",
                                "USER_DEFINED_DILUTION_SIGNIFICANCE": "VALUE",
                                "USER_DEFINED_ENVIRONMENTAL_IMPACT_FRAGMENTATION": "VALUE",
                                "USER_DEFINED_FRAGMENTATION_MODEL": "VALUE"
                              }
                            }
                          }
                        ]
                      }
                    },
                    "countOnly": {
                      "type": "string",
                      "example": "count"
                    }
                  }
                }
              },
              "application/xml": {
                "examples": {
                  "Example XML V2 CDM": {
                    "description": "Example XML V2 CDM",
                    "value": "<tracssCdms>\n     <cdm xmlns=\"urn:ccsds:schema:ndmxml\" id=\"VALUE\" version=\"2.0\">\n         <header>\n             <CLASSIFICATION>VALUE</CLASSIFICATION>\n             <CREATION_DATE>VALUE</CREATION_DATE>\n             <ORIGINATOR>VALUE</ORIGINATOR>\n             <MESSAGE_FOR>VALUE</MESSAGE_FOR>\n             <MESSAGE_ID>VALUE</MESSAGE_ID>\n             <CONJUNCTION_ID>VALUE</CONJUNCTION_ID>\n         </header>\n         <body>\n             <relativeMetadataData>\n                 <TCA>VALUE</TCA>\n                 <MISS_DISTANCE units=\"VALUE\">VALUE</MISS_DISTANCE>\n                 <MAHALANOBIS_DISTANCE units=\"VALUE\"/>\n                 <RELATIVE_SPEED units=\"VALUE\">VALUE</RELATIVE_SPEED>\n                 <relativeStateVector>\n                     <RELATIVE_POSITION_R units=\"VALUE\">VALUE</RELATIVE_POSITION_R>\n                     <RELATIVE_POSITION_T units=\"VALUE\">VALUE</RELATIVE_POSITION_T>\n                     <RELATIVE_POSITION_N units=\"VALUE\">VALUE</RELATIVE_POSITION_N>\n                     <RELATIVE_VELOCITY_R units=\"VALUE\">VALUE</RELATIVE_VELOCITY_R>\n                     <RELATIVE_VELOCITY_T units=\"VALUE\">VALUE</RELATIVE_VELOCITY_T>\n                     <RELATIVE_VELOCITY_N units=\"VALUE\">VALUE</RELATIVE_VELOCITY_N>\n                 </relativeStateVector>\n                 <APPROACH_ANGLE units=\"VALUE\"/>\n                 <START_SCREEN_PERIOD>VALUE</START_SCREEN_PERIOD>\n                 <STOP_SCREEN_PERIOD>VALUE</STOP_SCREEN_PERIOD>\n                 <SCREEN_VOLUME_FRAME>VALUE</SCREEN_VOLUME_FRAME>\n                 <SCREEN_VOLUME_SHAPE>VALUE</SCREEN_VOLUME_SHAPE>\n                 <SCREEN_VOLUME_X units=\"VALUE\">VALUE</SCREEN_VOLUME_X>\n                 <SCREEN_VOLUME_Y units=\"VALUE\">VALUE</SCREEN_VOLUME_Y>\n                 <SCREEN_VOLUME_Z units=\"VALUE\">VALUE</SCREEN_VOLUME_Z>\n                 <SCREEN_PC_THRESHOLD>VALUE</SCREEN_PC_THRESHOLD>\n                 <COLLISION_PROBABILITY>VALUE</COLLISION_PROBABILITY>\n                 <COLLISION_PROBABILITY_METHOD>VALUE</COLLISION_PROBABILITY_METHOD>\n                 <COLLISION_MAX_PROBABILITY/>\n                 <COLLISION_MAX_PC_METHOD/>\n             </relativeMetadataData>\n             <segment>\n                 <metadata>\n                     <OBJECT>VALUE</OBJECT>\n                     <OBJECT_DESIGNATOR>VALUE</OBJECT_DESIGNATOR>\n                     <CATALOG_NAME>VALUE</CATALOG_NAME>\n                     <OBJECT_NAME>VALUE</OBJECT_NAME>\n                     <INTERNATIONAL_DESIGNATOR>VALUE</INTERNATIONAL_DESIGNATOR>\n                     <OBJECT_TYPE>VALUE</OBJECT_TYPE>\n                     <OPS_STATUS/>\n                     <OPERATOR_ORGANIZATION>VALUE</OPERATOR_ORGANIZATION>\n                     <OPERATOR_PHONE/>\n                     <OPERATOR_EMAIL/>\n                     <EPHEMERIS_NAME>VALUE</EPHEMERIS_NAME>\n                     <COVARIANCE_METHOD>VALUE</COVARIANCE_METHOD>\n                     <MANEUVERABLE>VALUE</MANEUVERABLE>\n                     <ORBIT_CENTER>VALUE</ORBIT_CENTER>\n                     <REF_FRAME>VALUE</REF_FRAME>\n                     <GRAVITY_MODEL/>\n                     <ATMOSPHERIC_MODEL/>\n                     <N_BODY_PERTURBATIONS/>\n                     <SOLAR_RAD_PRESSURE/>\n                     <EARTH_TIDES>VALUE</EARTH_TIDES>\n                     <INTRACK_THRUST>VALUE</INTRACK_THRUST>\n                 </metadata>\n                 <data>\n                     <odParameters>\n                         <TIME_LASTOB_START/>\n                         <TIME_LASTOB_END/>\n                         <RECOMMENDED_OD_SPAN units=\"VALUE\"/>\n                         <ACTUAL_OD_SPAN units=\"V
[...]
